{% extends "base_form.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block head_title %}
    Formulaire de contact
{% endblock %}

{% block page_title %}
<h1>Formulaire de contact</h1>
{% endblock %}

{% block form %}
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data" id="contact-form">
        {% crispy form %}
        {{ form.media }}
    </form>
{% endblock %}




