{% extends "base_form.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block head_title %}
    Formulaire de contact
{% endblock %}

{% block page_title %}
<h1>Formulaire de contact</h1>
{% endblock %}

{% block form %}
    <p class="text-center">
        <i class="ok"></i>
        Votre demande a été transmise.<br>
        Vous recevrez une réponse par email prochainement.
    </p>
    <p class="text-center">
        <a class="btn btn-primary" href="/"><i class="retour"></i> Ok</a>
    </p>
{% endblock %}




