{% extends "base.html" %}
{% block content %}
    <ul>
        {% for page in helppages %}
            <li>
                <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
            </li>
        {% endfor %}
        {% for page in helpaccordionpages %}
            <li>
                <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
            </li>
        {% endfor %}

    </ul>
{% endblock %}
