{% extends "base.html" %}

{% block head_title %}
    {{ page.title }}
{% endblock %}

{% block page_title %}
    <h1>{{ page.title }}</h1>
{% endblock %}

{% block content %}
        {{ page.get_content_html }}
        {% for note in notes %}
                <h2 class="title-note">{{ note.title }}</h2>
                {{ note.get_content_html }}
        {% endfor %}
{% endblock %}
