{% extends "base.html" %}

{% load i18n %}

{% block head_title %}Comptes associés{% endblock %}

{% block page_title %}
    <h1><i class="fal fa-link"></i> Comptes associés</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">

            {% if form.accounts %}
                <p>Vous pouvez ouvrir une session en utilisant l'un de ces réseaux sociaux :</p>


                <form method="post" action="{% url 'socialaccount_connections' %}">
                    {% csrf_token %}

                    <fieldset>
                        {% if form.non_field_errors %}
                            <div id="errorMsg">{{ form.non_field_errors }}</div>
                        {% endif %}

                        {% for base_account in form.accounts %}
                            {% with base_account.get_provider_account as account %}
                                <div>
                                    <label for="id_account_{{ base_account.id }}">
                                    <input id="id_account_{{ base_account.id }}" type="radio" name="account" value="{{ base_account.id }}"/>
                                    <span class="socialaccount_provider {{ base_account.provider }}">{{account.get_brand.name}}</span>
                                    </label>
                                </div>
                            {% endwith %}
                        {% endfor %}

                        <div class="pt-4 pb-3">
                            <button class="btn btn-primary" type="submit">{% trans 'Remove' %}</button>
                        </div>
                    </fieldset>
                </form>

            {% else %}
                <p>Aucun compte de réseau social n'est actuellement associé à ce compte.</p>
            {% endif %}

            <h2>Ajouter un compte de réseau social</h2>

            <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
            </ul>

            {% include "socialaccount/snippets/login_extra.html" %}
        </div>
    </div>
{% endblock %}
