{% extends "account/base.html" %}

{% load account %}
{% load i18n %}

{% block head_title %}Adresse email confirmée{% endblock %}
{% block page_title %}
    <h1>Adresse email confirmée</h1>
{% endblock %}

{% block content %}
    <p>Votre adresse email est maintenant confirmée !</p>
    <p>Vous pouvez vous connecter à la plateforme dès maintenant.<a class="btn btn-primary ml-4" href="{% url 'account_login' %}"><i class="connecter"></i>Connexion</a></p>
{% endblock %}
