{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount crispy_forms_tags %}


{% block head_title %}Connexion{% endblock %}
{% block page_title %}
    <h1>Connexion</h1>
{% endblock %}

{% block content %}
    <p>Entrez vos paramètres de connexion.</p>
    <p>Si vous n'avez pas de compte sur la plateforme,
        vous pouvez vous connecter grâce à l'un des comptes tiers suivants et/ou procéder à votre
        <a href="{% url 'core:inscription_organisateur' %}">inscription</a>.</p>
    <div class="row">
        <div class="col-sm-6">
            <p>Votre compte :</p><hr>
            <form method="POST" class="form-signin" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <p><a class="button secondaryAction" href="{% url 'account_reset_password' %}">Mot de passe oublié ?</a></p>
                <button class="btn btn-primary" type="submit">Se connecter</button>
            </form>
        </div>
        <div class="col-sm-6">
            <p>Les comptes tiers :</p><hr>
            <div class="socialaccount_ballot">
                <ul class="socialaccount_providers">
                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                </ul>
            </div>
            {% include "socialaccount/snippets/login_extra.html" %}
        </div>
    </div>
{% endblock %}
