{% extends "base.html" %}

{% load i18n socialaccount%}

{% block extra_head %}
    <meta name="google-signin-client_id" content="681669531705-5k15hmk71b8jvpkaqjh0v56hqbsqag5i.apps.googleusercontent.com">
{% endblock %}

{% block head_title %}Déconnexion{% endblock %}
{% block page_title %}
    <h1>Déconnexion</h1>
{% endblock %}

{% block content %}
    <p>Merci d'avoir utilisé la plateforme Ecomanifestation.fr.</p>
    <p>Merci de fermer le navigateur pour garantir une parfaite déconnexion.</p>
    <a class="btn btn-primary" href="{% url 'account_login' %}">Connectez-vous à nouveau...</a>

    {% if provider %}
        <br>
        <hr>
        <p>Vous vous êtes connecté à l'aide d'un compte tiers.<br>
        Voulez vous vous déconnecter de celui-ci</p>
        {% if provider == "franceconnect" %}
            <form class="form-signout" method="post" action="/accounts/franceconnect/logout/">
                {% csrf_token %}
                <input type="hidden" name="state" value="{{ state }}"/>
                <input type="hidden" name="token" value="{{ token }}"/>
                <button class="btn btn-primary" type="submit">Se déconnecter de {{ provider }}...</button>
            </form>
        {% elif provider == "google" %}
            <a title="{{provider.name}}" class="btn btn-primary" href="#" onclick="signOut();">Se déconnecter de {{ provider }}...</a>
        {% elif provider == "facebook" %}
            <a title="{{provider.name}}" class="btn btn-primary" href="#" onclick="FsignOut();">Se déconnecter de {{ provider }}...</a>
        {% else %}
            {{ provider }}
        {% endif %}
    {% endif %}

    <script>
    // BoF Google
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('Google logout.');
            document.location.replace('{% url 'account_logout' %}')
        });
    }
    function onLoad() {
        gapi.load('auth2', function() {
            gapi.auth2.init();
        });
    }
    // EoF Google

    // BoF Facebook
    window.fbAsyncInit = function() {
        FB.init({
            appId: '1223288441155522',
            cookie: true,  // enable cookies to allow the server to access
            // the session
            xfbml: true,  // parse social plugins on this page
            version: 'v2.8' // use graph api version 2.8
        });
    };
    function FsignOut() {
        FB.getLoginStatus(function (response) {
            if (response && response.status === 'connected') {
                FB.logout(function (response) {
                    // Person is now logged out
                    console.log('Facebook logout.');
                    document.location.replace('{% url 'account_logout' %}')
                });
            }
        });
    }
    // Load the SDK asynchronously
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // EoF Facebook

    </script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

{% endblock %}
