{% extends "account/base.html" %}


{% load i18n %}
{% block head_title %}Changer de mot de passe{% endblock %}
{% block page_title %}
    <h1>Changer de mot de passe</h1>
{% endblock %}

{% block content %}
<p>Votre mot de passe a bien été changé.</p>
{% endblock %}
