{% extends "account/base.html" %}


{% load i18n %}

{% block head_title %}Inscription{% endblock %}
{% block page_title %}
    <h1>Inscription</h1>
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            // Si le formulaire échoue, on recharge la liste des communes du departement
            if ($('#id_departement').val() != "") {
                $('#id_departement').trigger("change");
                $('#id_departement').trigger("chosen:updated");  // Obligatoire avec jQuery.chosen
            }
        });
    </script>
{% endblock %}
