{% load i18n %}

<ul class="list-group">
    {% for data in object.documentscomplementaires.all %}
        <li class="list-group-item">
            Demande :
            <blockquote>{{ data.information_requise|linebreaks }}</blockquote>
            {% if data.document_attache %}
                Réponse : <a href="{{ data.document_attache.url }}" target="_blank">{{ data.document_attache }}</a>
            {% else %}
                Pas de réponse pour le moment
            {% endif %}
        </li>
    {% endfor %}
</ul>
