{% load i18n file_tags %}

{% if user.organisateur %}
    <div class="card-body text-right">
    {% if object.nom %}
        <span class="float-left"><strong>{{ object.nom|linebreaksbr|upper }}</strong></span>
    {% endif %}
    <a href="{{ object.get_absolute_url }}edition_fichiers/" class="btn btn-primary"
       role="button"><i class="doc"></i> Joindre des documents</a>
    {% if not object.finalise %}
        <a href="{{ object.get_absolute_url }}edition/?dept={{ object.get_departement_depart_nom }}"
           class="btn btn-primary" role="button"><i class="editer"></i> Modifier</a>
    {% endif %}
    </div>
{% endif %}
<ul class="list-group mb-3">
    <li class="list-group-item"> {{ object.description|linebreaksbr|default:"Pas de description" }}</li>
</ul>
<ul class="list-group mb-3">
    {% block associated_process %}{% endblock %}
    <li class="list-group-item"><i class="date"></i>Début : {{ object.date_debut }}</li>
    <li class="list-group-item"><i class="date"></i>Fin : {{ object.date_fin }}</li>
    <li class="list-group-item"><i class="activite"></i> Activité : {{ object.activite.discipline }} - {{ object.activite }}</li>
    <li class="list-group-item"><i class="lieu"></i> Commune de départ : {{ object.ville_depart|capfirst }}</li>
    <li class="list-group-item"><i class="lieu"></i> Parcs naturels traversés :
        {% for parc in object.parcs.all %}
            {% if forloop.last %}
                {{ parc }}.
            {% else %}
                {{ parc }},
            {% endif %}
        {% endfor %}
    </li>
    <li class="list-group-item"><i class="lieu"></i> Communes traversées :
        {% for city in object.villes_traversees.all %}
            {% if forloop.last %}
                {{ city }}.
            {% else %}
                {{ city }},
            {% endif %}
        {% endfor %}
    </li>
    <li class="list-group-item">Autres départements traversés par la manifestation :
        {% for departement in object.departements_traverses.all %}
            {% if forloop.last %}
                {{ departement }}.
            {% else %}
                {{ departement }},
            {% endif %}
        {% endfor %}
    </li>
    <li class="list-group-item">Places spectateurs : {{ object.nb_spectateurs }}</li>
    <li class="list-group-item">Nombre de participants : {{ object.nb_participants }}</li>
</ul>
<div class="card-header">
    <i class="organisateur"></i> Organisateur
</div>
<ul class="list-group mb-3">
    <li class="list-group-item">Déclarant
        : {{ object.structure.organisateur.user.get_full_name }}</li>
    <li class="list-group-item">Structure : {{ object.structure|capfirst }} ({{ object.structure.type_of_structure }})</li>
    <li class="list-group-item">Adresse : {{ object.structure.address }}, {{ object.structure.commune.zip_code }} {{ object.structure.commune|upper }}</li>
    <li class="list-group-item">Numéro de téléphone : {{ object.structure.phone }}</li>
    <li class="list-group-item">E-mail : {{ object.structure.organisateur.user.email }}</li>
</ul>
{% if object.nom_contact %}
    <div class="card-header">
        <i class="telephone"></i> Personne à contacter sur place
    </div>
    <ul class="list-group mb-3">
        <li class="list-group-item">
            {{ object.prenom_contact|capfirst }} {{ object.nom_contact|capfirst }} - {{ object.tel_contact }}
        </li>
    </ul>
{% endif %}
<div class="card-header">
    <i class="doc"></i> Documents joints
</div>
<ul class="list-group mb-3">
    {% if object.cartographie %}
        <li class="list-group-item">Cartographie : <a href="{{ object.cartographie.url }}" target='_blank'>{{ object.cartographie|basename }}</a></li>
    {% endif %}
    {% if object.convention %}
        <li class="list-group-item">Convention passée avec un parc naturel : <a href="{{ object.convention.url }}"
                                                                       target='_blank'>{{ object.convention|basename }}</a></li>
    {% endif %}
    {% if object.docs_additionels %}
        <li class="list-group-item">Documents complémentaires : <a href="{{ object.docs_additionels.url }}"
                                                                   target='_blank'>{{ object.docs_additionels|basename }}</a></li>
    {% endif %}
</ul>
