{% load i18n %}
{% if object.charte %}
    <li class="nav-item"><a class="nav-link" href="#charte" data-toggle="tab">
        Charte d'engagement</a></li>
{% endif %}
{% if object.documentscomplementaires.count > 0 %}
    <li class="nav-item"><a class="nav-link" href="#additionaldata" data-toggle="tab">
        <i class="doc"></i> Document complémentaire ({{object.documentscomplementaires.count}})</a></li>
{% endif %}
{% if request.user.referent %}
    {% if object.actions.count > 0 or object.notifications.count > 0 %}
        <li class="nav-item"><a class="nav-link" href="#historiquedata" data-toggle="tab">
            <i class="historique"></i> Historique</a></li>
    {% endif %}
{% endif %}
