{% load i18n %}

{% block event_description %}{% endblock %}
{% if object.charte %}
    <div id="charte" class="card  tab-pane fade">
        {% include './charte_detail.html' with charte=object.charte %}
    </div>
{% endif %}
{% if object.documentscomplementaires.count > 0 %}
    <div id="additionaldata" class="card  tab-pane fade">
        {% include './documentcomplementaire_detail.html' %}
    </div>
{% endif %}
{% if object.actions.count > 0 or object.notifications.count > 0 %}
    <div id="historiquedata" class="card  tab-pane fade">
        {% include 'notifications/historique_detail.html' %}
    </div>
{% endif %}
