{% extends "base.html" %}

{% load i18n sports_tags %}

{% block page_title %}
    <h1>Liste des féderations configurées par discipline</h1>
{% endblock %}

{% block content %}
    <div class="float-right">
        <p><h2>Voir la configuration appliquée pour un département :</h2></p>
        <form action="/sports/disciplines/federations/" method="get">
            <select class="form-control" id="dept" name="dept">
                <option value=""> ----- </option>
                {% for nb, dept in liste_dept %}
                    <option value="{{ nb }}">{{ dept }}</option>
                {% endfor %}
            </select>
            <p></p>
            <p><button type="submit" class="bnt btn-primary">Envoyer</button></p>
        </form>
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% for discipline in object_list %}
            <div class="panel ">
                <div class="panel-heading" role="tab" id="heading{{ discipline.pk }}">
                    <h4 class="panel-title">
                        <a role="button"
                           data-toggle="collapse"
                           href="#collapse{{ discipline.pk }}"
                           aria-expanded="true" aria-controls="collapse{{ discipline.pk }}">
                            <i class="fas fa-plus"></i> {{ discipline }}
                        </a>
                    </h4>
                </div>
                <div id="collapse{{ discipline.pk }}"
                     class="panel-collapse collapse{% if focus == discipline.pk %} show {% endif %}"
                     role="tabpanel"
                     data-parent="#accordion"
                     aria-labelledby="heading{{ discipline.pk }}">
                    <div class="panel-body">
                        National :<br/>
                        {% for federation in discipline.federations.all %}
                            {% if federation.is_national %}
                                &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-minus" style="color:#9aa400;"></i>
                                &nbsp;&nbsp;&nbsp;&nbsp;{{ federation }} - {{ federation.name }}<br/>
                            {% endif %}
                        {% endfor %}
                        Régional :<br/>
                        {% for federation in discipline.federations.all %}
                            {% if federation.is_regional %}
                                {% if federation in liste_federations %}
                                    &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-minus" style="color:#9aa400;"></i>
                                    &nbsp;&nbsp;&nbsp;&nbsp;{{ federation.region|label_region}} : {{ federation }} - {{ federation.name }}<br/>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        Départemental :<br/>
                        {% for federation in discipline.federations.all %}
                            {% if federation.is_departemental %}
                                {% if federation in liste_federations %}
                                    &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-minus" style="color:#9aa400;"></i>
                                    &nbsp;&nbsp;&nbsp;&nbsp;{{ federation.departement }} : {{ federation }} - {{ federation.name }}<br/>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                     </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
