{% load static clever_selects_extras i18n %}

<!doctype html>
<html lang="fr">
<head>
    <title>{% if not INSTANCE.is_master %}({{ INSTANCE.get_departement_name }}) {% endif %}
        {% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    <meta charset='utf-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>

    <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/bootstrap-table/dist/bootstrap-table.min.css' %}">
    <link href="{% static 'portail/css/jquery-jvectormap-2.0.3.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'libs/jquery-ui/jquery-ui.min.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'libs/chosen/chosen.min.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'libs/fontawesome-pro/css/all.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'libs/titatoggle/dist/titatoggle-dist-min.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'portail/css/default.css' %}" rel='stylesheet' type='text/css'>

    <script src="{% static 'libs/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/jquery-ui/jquery-ui.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/moment/moment.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/bootstrap-table/dist/bootstrap-table.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/bootstrap-table/dist/bootstrap-table-locale-all.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/chosen/chosen.jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'aide/contextHelp.jquery.js' %}" type="text/javascript"></script>
    <script src="{% static 'portail/js/jquery.submitProtection.js' %}" type="text/javascript"></script>
    <script src="{% static 'portail/js/jquery-jvectormap-2.0.3.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'portail/js/jquery-jvectormap-fr-merc.js' %}" type="text/javascript"></script>
    <script src="{% static 'portail/js/common.js' %}" type="text/javascript"></script>
    <script src="{% static 'portail/js/main.js' %}" type="text/javascript"></script>
    <script src="{% static 'portail/js/icone.js' %}" type="text/javascript"></script>

    <script type="text/javascript">
        var dep_number = "{{ INSTANCE.get_departement_name }}";
    </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
        <script src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js'></script>
        <![endif]-->

    {% block custom_head %}{% endblock %}

</head>
<body class="{{ request.resolver_match.url_name }}">
<div class="fixed-top navbarskew"></div>
<div class="fixed-top navbarpref">
    <img id="pref" alt='Logo Préfecture région' src="{% static 'portail/img/logo_drajes-1.png' %}" height="96" style="margin-top: -10px;">
</div>
<nav class='navbar navbar-expand-lg navbar-light navbar-inverse fixed-top' role='navigation'>
    <div class='container-fluid'>
        <a class='navbar-brand' href="{% url 'portail:home_page' %}">
            <img id="eco" alt='Logo Eco-manifestation' src="{% static 'portail/img/ecomanif_complet.png' %}" height="70">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class='collapse navbar-collapse flex-row-reverse'>
            <ul class='navbar-nav'>
                {% if user.is_authenticated %}
                    {# Les utilisateurs peuvent cumuler plusieurs rôles et donc plusieurs menus dédiés #}
                    {# Menu pour les organisateurs #}
                    {% if user.organisateur %}
                        <li class="nav-item active"><a href="{% url 'evenements:tableau-de-bord-organisateur' %}" title="Tableau de bord organisateur" data-toggle="tooltip"><i class="tableau-de-bord"></i>Tableau de bord</a></li>
                    {% endif %}
                    {# Menu pour les éditeurs #}
                    {% if user.editeur %}
                        {%  if not user.default_instance.departement %}
                            <li class="nav-item active"><a href="{% url 'editeurs:liste_pagestat' %}"><i class="tableau-de-bord"></i>Pages libres</a></li>
                        {% endif %}
                        <li class="nav-item active ml-1"><a href="{% url 'editeurs:liste_pageperso' %}"><i class="tableau-de-bord"></i>Pages spécialisées</a></li>
                    {% endif %}
                    {# Menu pour les référents #}
                    {% if user.referent %}
                        <li class="nav-item active ml-1"><a href="{% url 'referents:tableau-de-bord-referent' %}" title="Tableau de bord référent" data-toggle="tooltip"><i class="tableau-de-bord"></i>Tableau de bord</a></li>
                    {% endif %}
                    {# Menu d'administration pour les superutilisateurs #}
                    {% if user.is_staff %}
                        <li class="nav-item active ml-1"><a href="{% url 'admin:index' %}" title="Administration" data-toggle="tooltip"><i class="configurer"></i></a></li>
                    {% endif %}
                    {# Menu pour tous les utilisateurs #}
                    <li class="nav-item active ml-1"><a href="{% url 'profile' %}"
                        {% if request.session.provider %}
                            title="Vous êtes identifié grâce à {{ request.session.provider }}" data-toggle="tooltip" data-placement="bottom"
                        {% endif %}>
                        <i class="utilisateur"></i><span class="span-hide-profile"> {{ user.username }} {% if user.get_instance.get_departement_name %}({{ user.get_instance.get_departement_name }}){% endif %}</span></a></li>
                    <li class="nav-item active ml-1"><a href="{% url 'account_logout' %}" title="Déconnexion" data-toggle="tooltip"><i class="deconnecter"></i></a>
                    </li>
                {% else %}
                    <li class="nav-item active mr-1"><a href="{% url 'account_login' %}"><i class="connecter"></i>Connexion</a></li>
                    <li class="nav-item active"><a href="{% url 'core:inscription_organisateur' %}"><i class="sincrire"></i></i>inscription</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% block body %}
    <div class='container-fluid' id="main-content">
        <div class='row header-notification'>
            {% if messages %}
                <br>
                <div class="col-md-10 offset-md-1">
                    {% for message in messages %}
                        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissable">
                            <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>
                            <strong>{{ message }}</strong>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="col-md-10 offset-md-1">
                {% include "nouveautes/nouveaute_available.html" %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div id='page-header'>{% block page_title %}{% endblock %}</div>
                <div class='resume'>{% block resume %}{% endblock %}</div>
                {% block fil_ariane %}{% endblock %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 offset-md-1">
                    {% block content %}
                    {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
{% endblock %}

<div role='contentinfo' class="d-flex align-items-center justify-content-between footer-div">
        <div id="footer-info">
            <a href="http://www.openscop.fr">Openscop</a><span class="pipe_separator">|</span>
            <a href="/mentions-legales/">Mentions légales</a><span class="pipe_separator">|</span>
            <a href="/CGU/"><span class="span-hide-470">Conditions Générales d'Utilisation</span><span class="span-disp-470">CGU</span></a><span class="pipe_separator">|</span>
            <a href="/eco/contact">Contact</a>
        </div>
        <div class="footer-logo">
            <span id="footer-partenariat">En partenariat avec :</span>
            <img class="mx-2" alt='Logo CROS' src="{% static 'portail/img/CROS_couleur.png' %}" height="70">
        </div>
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>Modal body</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<div id="scrollToTop">
    <a href="#"><i class="haut-de-page"></i></a>
</div>

{% block extra_js %}
{% endblock %}

{% if contexthelps %}
<script type="text/javascript">
    // Insertion dynamique d'icône d'aide
    $(function () {
        {% for help in contexthelps %}
            if (!$('[class^=ctx-help-{{ help.name }}]').length) { // si l'icône n'existe pas
                var help_icon = '<i class="ctx-help-{{ help.name }} fas fa-info-circle"></i>';
                {% for inserts in help.position_as_list %}
                    {% if inserts.typeinsert == 'after' %}
                        $('{{ inserts.selecteur }}').after(help_icon); // l'insérer après
                    {% else %}
                        $('{{ inserts.selecteur }}').append(help_icon);  // l'insérer dedans
                    {% endif %}
                {% endfor %}
                $('[class^=ctx-help-{{ help.name }}]').tooltip({  // et activer la tooltip
                    title: retrieveData,
                    html: true,
                    container: 'body',
                    trigger: 'click hover focus',
                    placement: 'top',
                });
            }
        {% endfor %}
    })
</script>
{% endif %}

<script src='{% static "libs/clever-selects.js" %}' type="text/javascript"></script>

</body>
</html>
