{% extends "base.html" %}


{% load i18n %}

{% block head_title %}
    Statistiques
{% endblock %}

{% block page_title %}
    <h1>Statistiques de la plateformes Manifestations Sportives</h1>
{% endblock %}

{% block content %}

    <p>
    <ul>
        <li>Nombre de sessions en cours : {{ stat.connected_user }}</li>
    </ul>
    </p>

    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <td></td>
            {% for y in stat.annees %}
                <th>{{ y }}</th>
            {% endfor %}
            <th class="table-info">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Nombre de dossiers créés dans l'année</th>
            {% for key, value in stat.nb_manif_cree_par_annee.items %}
                <td>{{ value }}</td>
            {% endfor %}
            <td class="table-info">{{ stat.nb_manif_cree }}</td>
        </tr>
        <tr>
            <th>Nombre de manifestations prévues dans l'année (validées ou pas)</th>
            {% for key, value in stat.nb_manif_prevue_par_annee.items %}
                <td>{{ value }}</td>
            {% endfor %}
            <td class="table-info">{{ stat.nb_manif_prevue }}</td>
        </tr>
        <tr>
            <th>Nombre de manifestations ne restant que sur une seule commune</th>
            {% for key, value in stat.nb_manif_une_commune_par_annee.items %}
                <td>{{ value }}</td>
            {% endfor %}
            <td class="table-info">{{ stat.nb_manif_une_commune }}</td>
        </tr>
        <tr>
            <th>Nombre de nouveaux utilisateurs</th>
            {% for key, value in stat.nb_utilisateur_par_annee.items %}
                <td>{{ value }}</td>
            {% endfor %}
            <td class="table-info">{{ stat.nb_utilisateur }}</td>
        </tr>
        <tr>
            <th>Nombre de nouveaux organisateurs</th>
            {% for key, value in stat.nb_organisateur_par_annee.items %}
                <td>{{ value }}</td>
            {% endfor %}
            <td class="table-info">{{ stat.nb_organisateur }}</td>
        </tr>
        <tr>
            <th>Nombre d'actions majeures réalisées par les utilisateurs</th>
            {% for key, value in stat.nb_action_par_annee.items %}
                <td>{{ value }}</td>
            {% endfor %}
            <td class="table-info">{{ stat.nb_action }}</td>
        </tr>
        <tr>
            <th>Nombre de notifications envoyées par la plateforme</th>
            {% for key, value in stat.nb_notification_par_annee.items %}
                <td>{{ value }}</td>
            {% endfor %}
            <td class="table-info">{{ stat.nb_notification }}</td>
        </tr>
        </tbody>
    </table>


{% endblock %}
