{% extends "admin/base.html" %}
{% load static i18n clever_selects_extras %}

{% block title %}{{ title }} | Administration de la plateforme EcoManif{% endblock %}

{% block branding %}
<h1 id="site-name">Administration de la plateforme EcoManif</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrahead %}{% endblock %}

{% block footer %}
    <div id="footer"></div>
    {% clever_selects_js_import %}
{% endblock %}