{% load i18n %}

<div class="row" style="font-size: 0.9rem;">
    <div class="col-sm-5">

        <span title="Nom de la manifestation" data-toggle="tooltip"><i
                class="dossier"></i></span> {{ manif|truncatechars:60|capfirst }} <br>
        <i class="structure organisatrice"></i> {{ manif.structure|truncatechars:60|capfirst }} <br>
        <span title="Date de début de la manifestation" data-toggle="tooltip"><i
                class="date"></i></span> {{ manif.date_debut|date:"d/m/Y" }} <br>
    </div>
    <div class="col-sm-3">
        <i class="activite"></i> {{ manif.activite }} <br>
        <span title="Commune de départ" data-toggle="tooltip"><i
                class="ville"></i></span> {{ manif.ville_depart }} <br>
        <i class="historique"></i> Dernière action : {{ manif.actions.last.creation_date|date:"d N G:i" }}
    </div>
    <div class="col-sm-4 text-center">
        Charte <br>
        <div class="mt-3">
            {% if manif.charte %}
                {% if manif.charte.diplome == 'or' %}
                    <i class="diplome_or"></i>
                {% elif manif.charte.diplome == 'argent' %}
                    <i class="diplome_arg"></i>
                {% elif manif.charte.diplome == 'bronze' %}
                    <i class="diplome_bro"></i>
                {% else %}
                    <i class="diplome_echec"></i>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
