{% load i18n %}
{% load humanize %}

{% if not object.delai_depasse %}
    {% if object.cinq_jours_restants %}
        <div class="alert alert-danger">
            <p><strong>Attention ! </strong>
                {{ object.get_date_limite|naturaltime|capfirst }}, il sera trop tard pour déclarer la manifestation
                auprès du référent du département.
            </p>
        </div>
    {% else %}
        <div class="alert alert-warning">
            <p><strong>Attention ! </strong>
                Vous avez jusqu'au {{ object.get_date_limite.date|date|capfirst }},
                pour déclarer la manifestation auprès du référent du département.
            </p>
        </div>
    {% endif %}
{% else %}
    <div class="alert alert-danger">
        <p><strong>Attention ! </strong>
            Il est maintenant trop tard pour déclarer votre manifestation.<br/>
            Veuillez contacter le référent du département pour plus de détails.
        </p>
    </div>
{% endif %}
