{% load i18n %}

<div class='page-header'>
    <p class="text-muted"> Ce fil d'Ariane représente l'avancement de votre demande</p>
    <ol class="breadcrumb">
        {% for breadcrumb, done in object.get_breadcrumbs %}
            {% if done %}
                <li><button class="btn btn-success" disabled="disabled">
                    Étape {{ forloop.counter }}<i class="ok-blanc float-right"></i><br/>{{ breadcrumb|capfirst }}
                </button></li>
            {% else %}
                <li><button class="btn btn-danger" disabled="disabled">
                    Étape {{ forloop.counter }}<i class="action-requise-blanc float-right"></i><br/>{{ breadcrumb|capfirst }}
                </button></li>
            {% endif %}
        {% endfor %}
        {% if object.finalise %}
            {% if object.get_docs_complementaires_manquants.exists %}
                <li><button class="btn btn-danger" disabled="disabled">
                    Étape ajoutée<i class="action-requise-blanc float-right"></i><br/>Documents manquants
                </button></li>
            {% endif %}
        {% endif %}
    </ol>
    <p class="text-muted">Si certaines étapes sont marquées en rouge, cela signifie que votre déclaration est encore incomplète</p>
</div>
