{% extends "base.html" %}

{# load url from future #}
{% load i18n %}

{% block head_title %}
    Tableau de Bord
{% endblock %}

{% block page_title %}
    <h1><i class="nouveaute"></i> Nouveautés de la plateforme</h1>
{% endblock %}

{% block content %}
        <div class="col-sm-12">
            <div class="card ">
                <div class="list-group">
                    {% for nouveaute in object_list %}
                        <div class="list-group-item" style="min-height: 10em;">
                            <h3><a href="{{ nouveaute.get_absolute_url }}">{{ nouveaute.title }}</a></h3>
                            <div class="post-date">
                                <span class="post-date-day">{{ nouveaute.creation|date:"d" }}</span>
                                <span class="post-date-month">{{ nouveaute.creation|date:"F" }}</span>
                                <span class="post-date-year">{{ nouveaute.creation|date:"Y" }}</span>
                            </div>
                            {{ nouveaute.get_html }}
                        </div>
                    {% empty %}
                        <a class="list-group-item disabled">Pas de nouveauté.</a>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}
