{% extends "base.html" %}
{% load static i18n %}

{% block head_title %}{{ title }}{% endblock %}

{% block page_title %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block content %}


    <div class="row justify-content-md-center">
        <div class="col col-md-6 encadre">
            <p>
                {% if type == 0 %}<i class="fas fa-check fa-2x" style="color: green;"></i>{% endif %}
                {% if type == 1 %}<i class="fas fa-times fa-2x" style="color: red;"></i>{% endif %}
                <span style="padding-left: 48px; font-size: 16px">{{ message|safe }}</span>
            </p>
            {% if extra %}
                <p>{{ extra }}</p>
            {% endif %}

        <p class="mt-4">
            <a class="btn btn-fill btn-success" href="{% if suite %}{% url suite %}{% else %}{% url 'home_page' %}{% endif %}">Continuer...</a>
        </p>

        </div>
    </div>

{% endblock %}