{% extends "base.html" %}


{% load i18n %}

{% block head_title %}
    Profil
{% endblock %}

{% block page_title %}
    <h1>Profil de {{ object.username }}</h1>
{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header bg-primary"><i class="utilisateur"></i>Utilisateur : {{ object.username }}</div>
            <div class="card-body">
                <ul class="list-group mb-3">
                    {% if object.get_service %}
                        <li class="list-group-item">Service : {{ object.get_service|upper }}</li>
                    {% endif %}
                    <li class="list-group-item">Nom : {{ object.last_name|title }}</li>
                    <li class="list-group-item">Prénom : {{ object.first_name|title }}</li>
                    <li class="list-group-item">E-mail : {{ object.email }} <a href="{% url 'account_email' %}"> <i class="editer"></i>Modifier</a></li>
                    <li class="list-group-item"><a href="{% url 'account_change_password' %}"><i class="editer"></i>Modifier mon mot de passe</a></li>
                </ul>
                <a href="/accounts/social/connections/" class="btn btn-primary"><i class="nouveaute"></i>Lier à un compte tiers</a>
                <a class="btn btn-primary btn-action btn-sm" href="{% url 'profile_edit' %}" role="button"><i class="editer"></i>Modifier</a>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
    {% if object.organisateur.structure %}
        <div class="card">
            <div class="card-header bg-primary"><i class="structure"></i>Structure : {{ object.organisateur.structure.name }}</div>
            <div class="card-body">
                <ul class="list-group mb-3">
                <li class="list-group-item">Type de structure : {{ object.organisateur.structure.type_of_structure }}</li>
                <li class="list-group-item">Adresse : {{ object.organisateur.structure.address|title }},
                    {{ object.organisateur.structure.commune.zip_code }} {{ object.organisateur.structure.commune }}</li>
                <li class="list-group-item">Numéro de téléphone : {{ object.organisateur.structure.phone }}</li>
                {% if object.organisateur.structure.website %}
                    <li class="list-group-item">Site web :
                        <a href="{{ object.organisateur.structure.website }}" target="_blank">{{ object.organisateur.structure.website }}</a>
                    </li>
                {% endif %}
            </ul>
            <a class="btn btn-primary btn-action btn-sm" href="{% url 'structure_edit' %}" role="button"><i class="editer"></i>Modifier</a>
            </div>
        </div>
    {% endif %}
    </div>
    </div>
    {% if news %}
        <div class="row mt-3">

                <div class="col-md-12">
                <p>
                    <a href="{% url 'nouveautes:list' %}" class="btn btn-primary"><i class="nouveaute"></i>Revoir les nouveautés de la plateforme</a>
                </p>
                </div>
        </div>
    {% endif %}
{% endblock %}
