{% extends "base.html" %}


{% load i18n %}

{% block head_title %}
    Calendrier
{% endblock %}

{% block page_title %}
    <h1>Manifestations sportives à venir dans le département {{ INSTANCE.get_departement }}</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="container">
            {% for activite in activities %}
                <a href="{% url 'portail:filtered_calendar' activite=activite.pk %}" class="btn {% if current_activite == activite.id %}btn-primary{% else %}btn-outline-secondary{% endif %} btn-sm">
                    {{ activite|title }}
                </a>
            {% endfor %}
            <a href="{% url 'portail:calendar' %}" class="btn btn-outline-secondary btn-sm">Toutes les activités</a>
        </div>
        <br>
        <div class="col-sm-6">
            <div id="accordion2" role="tablist" aria-multiselectable="true">
                {% regroup object_list by date_debut|date:"F Y" as liste_mois %}
                {% for mois in liste_mois %}
                    <div class="card ">
                        <div class="card-header" role="tab" id="titre{{ forloop.counter }}">
                            <h4 class="card-title">
                                <a data-toggle="collapse" data-parent="#accordion2" href="#tiroir{{ forloop.counter }}" aria-expanded="true" aria-controls="tiroir{{ forloop.counter }}">
                                    {{ mois.grouper }}
                                </a>
                            </h4>
                        </div>
                        <div id="tiroir{{ forloop.counter }}" class="card-collapse collapse{% if forloop.first %} show {% endif %}" role="tabpanel" aria-labelledby="titre{{ forloop.counter }}" data-parent="#accordion2">
                            <ul class="list-group">
                                {% for manif in mois.list %}
                                    <a href="{% url 'evenements:manif_public' manif.id %}"
                                       class="list-group-item list-group-item-action">
                                        le {{ manif.date_debut|date:"l j" }}, départ de {{ manif.ville_depart }}<br/>
                                        {{ manif.nom }}<br>
                                        {{ manif.activite }}
                                    </a>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% comment %}
        <div class="col-sm-6">
            {% include 'events/map.html' %}
        </div>
    {% endcomment %}
{% endblock %}
