{% extends "base.html" %}

{% load static %}
{% load i18n %}


{% block head_title %} Plateforme Éco-manifestation
{% endblock %}

{% block custom_head %}
    <link href="{% static 'portail/css/index.css' %}" rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %}
    {% block content %}
        {# Le commentaire HTML ci-dessous doit être conservé !! #}
        <!-- Sous-domaine {{ INSTANCE.name }} -->

        <!-- bof #carrousel -->
        <div id="carrousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carrousel" data-slide-to="0" class="active"></li>
                <li data-target="#carrousel" data-slide-to="1"></li>
                <li data-target="#carrousel" data-slide-to="2"></li>
                <li data-target="#carrousel" data-slide-to="3"></li>
                <li data-target="#carrousel" data-slide-to="4"></li>
                <li data-target="#carrousel" data-slide-to="5"></li>
                <li data-target="#carrousel" data-slide-to="6"></li>
                <li data-target="#carrousel" data-slide-to="7"></li>
                <li data-target="#carrousel" data-slide-to="8"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img alt="slide" src="{% static 'portail/img/carousel01.jpg' %}">
                    <div class="carousel-caption">
                        <span class="carousel-caption-text">S’engager à réduire ses impacts sur l’environnement</span>
                    </div>
                </div>
                <div class="carousel-item">
                    <img alt="slide" src="{% static 'portail/img/carousel02.jpg' %}">
                    <div class="carousel-caption">
                        <span class="carousel-caption-text">Oeuvrer en faveur de la citoyenneté et de la promotion des territoires</span>
                    </div>
                </div>
                <div class="carousel-item">
                    <img alt="slide" src="{% static 'portail/img/carousel03.jpg' %}">
                    <div class="carousel-caption">
                        <span class="carousel-caption-text">Découvrir, partager et valoriser les territoires de pleine nature</span>
                    </div>
                </div>
                <div class="carousel-item">
                    <img alt="slide" src="{% static 'portail/img/carousel04.jpg' %}">
                    <div class="carousel-caption">
                        <span class="carousel-caption-text">Sensibiliser les bénévoles et participants aux gestes éco-responsables</span>
                    </div>
                </div>
                <div class="carousel-item">
                    <img alt="slide" src="{% static 'portail/img/carousel05.jpg' %}">
                    <div class="carousel-caption">
                        <span class="carousel-caption-text">S’engager à réduire ses impacts sur l’environnement</span>
                    </div>
                </div>
                <div class="carousel-item">
                    <img alt="slide" src="{% static 'portail/img/carousel06.jpg' %}">
                    <div class="carousel-caption">
                        <span class="carousel-caption-text">Oeuvrer en faveur de la citoyenneté et de la promotion des territoires</span>
                    </div>
                </div>
                <div class="carousel-item">
                    <img alt="slide" src="{% static 'portail/img/carousel07.jpg' %}">
                    <div class="carousel-caption">
                        <span class="carousel-caption-text">Découvrir, partager et valoriser les territoires de pleine nature</span>
                    </div>
                </div>
                <div class="carousel-item">
                    <img alt="slide" src="{% static 'portail/img/carousel08.jpg' %}">
                    <div class="carousel-caption">
                        <span class="carousel-caption-text">Sensibiliser les bénévoles et participants aux gestes éco-responsables</span>
                    </div>
                </div>
                <div class="carousel-item">
                    <img alt="slide" src="{% static 'portail/img/carousel09.jpg' %}">
                    <div class="carousel-caption">
                        <span class="carousel-caption-text">Rassembler les bonnes pratiques éco-citoyennes dans les manifestations sportives</span>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control-prev" href="#carrousel" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="right carousel-control-next" href="#carrousel" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
        <!-- eof #carrousel -->

        <!-- bof contenu -->
        <div class='container'>
            <div class="row mt-5">

                <!-- bof 1e colonne -->
                <div class="col-md-6 col-lg-4">
                    <div class="accordion" id="index1">
                        <div class="cadre-couleur bg-index">
                            <div id="titre1">
                                <a data-toggle="collapse" data-parent="#index1" href="#menu1" aria-expanded="True" aria-controls="menu1">
                                    <h1 class="text-center h1-home">ACCUEIL - PRÉSENTATION<i class="fas fa-plus float-right mt-1"></i></h1>
                                </a>
                            </div>
                            <div id="menu1" class="collapse" aria-labelledby="titre1" data-parent="#index1">
                                <hr style="border-color: white;">
                                {{ presentation|safe }}
                            </div>
                        </div>
                        <div class="cadre-couleur bg-index">
                            <div id="titre2">
                                <a data-toggle="collapse" data-parent="#index1" href="#menu2" aria-expanded="True" aria-controls="menu2">
                                    <h1 class="text-center h1-home">ADHÉRER A LA CHARTE<i class="fas fa-plus float-right mt-1"></i></h1>
                                </a>
                            </div>
                            <div id="menu2" class="collapse" aria-labelledby="titre2" data-parent="#index1">
                                <hr style="border-color: white;">
                                <a href="/inscription/organisateur">
                                    <h2 class="text-left h1-home">- Créer son compte organisateur</h2></a>
                                <a href="/evenement/preambule/">
                                    <h2 class="text-left h1-home">- Créer sa manifestation</h2></a>
                            </div>
                        </div>
                        <div class="cadre-couleur bg-index">
                            <div id="titre3">
                                <a data-toggle="collapse" data-parent="#index1" href="#menu3" aria-expanded="True" aria-controls="menu3">
                                    <h1 class="text-center h1-home">BOITE A OUTILS<i class="fas fa-plus float-right mt-1"></i></h1>
                                </a>
                            </div>
                            <div id="menu3" class="collapse" aria-labelledby="titre3" data-parent="#index1">
                                <hr style="border-color: white;">
                                {{ boiteoutils|safe }}
                            </div>
                        </div>
                        <div class="cadre-couleur bg-index">
                            <div id="titre4">
                                <a data-toggle="collapse" data-parent="#index1" href="#menu4" aria-expanded="True" aria-controls="menu4">
                                    <h1 class="text-center h1-home">PACK ÉCO-ÉVÈNEMENT<i class="fas fa-plus float-right mt-1"></i></h1>
                                </a>
                            </div>
                            <div id="menu4" class="collapse" aria-labelledby="titre4" data-parent="#index1">
                                <hr style="border-color: white;">
                                <a href="/eco/pack{{ INSTANCE.get_departement_name }}">
                                    <h2 class="text-left h1-home">- Pack éco-évènement accessible aux diplômés, selon le département</h2></a>
                            </div>
                        </div>
                        <div class="cadre-couleur bg-index">
                            <div id="titre5">
                                <a data-toggle="collapse" data-parent="#index1" href="#menu5" aria-expanded="True" aria-controls="menu5">
                                    <h1 class="text-center h1-home">CONTACTS DÉPARTEMENTS<i class="fas fa-plus float-right mt-1"></i></h1>
                                </a>
                            </div>
                            <div id="menu5" class="collapse" aria-labelledby="titre5" data-parent="#index1">
                                <hr style="border-color: white;">
                                <a href="/contact_dep">
                                    <h2 class="text-left h1-home">- Contact dans les départements</h2></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- eof 1e colonne -->

                <!-- bof ligne de boutons dynamiques -->
                <div class="col-md-6 col-lg-4">

                {% if not user.is_authenticated %}
                    <div class="button-home">
                        <a href="{% url 'core:inscription_organisateur' %}" class="btn btn-block" role="button">
                            <i class="sincrire"></i>
                            <h2 class="text-center h2-home">Inscription</h2>
                            <span class="">Organisateurs d'évènements sportifs, inscrivez-vous !</span>
                        </a>
                    </div>
                    <div class="button-home">
                        <a href="{% url 'account_login' %}" class="btn btn-block" role="button">
                            <i class="connecter"></i>
                            <h2 class="text-center h2-home">Connexion</h2>
                            <span class="text-center">Commencez à déclarer votre manifestation !</span>
                        </a>
                    </div>
                {% else %}
                    <div class="button-home">
                        <a href="{% url 'evenements:preambule_creation_evenement' %}" class="btn btn-block" role="button">
                            <i class="ajouter"></i>
                            <h2 class="text-center h2-home">Démarrer un dossier</h2>
                            <span class="">Déclarer une nouvelle manifestation</span>
                        </a>
                    </div>
                {% endif %}

                {% if not HIDE_CALENDAR %}
                    <div class="button-home">
                        <a href="{% url 'portail:calendar' %}" class="btn btn-block" role="button">
                            <i class="date"></i>
                            <h2 class="text-center h2-home">Calendrier</h2>
                            <span class="">Les manifestations sportives sur le département</span>
                        </a>
                    </div>
                {% endif %}

                </div>
                <!-- bof ligne de boutons dynamiques -->

                <!-- bof 2e colonne -->
                <div class="col-lg-4">
                    <div class="cadre-couleur d-flex flex-row">
                        <div class="d-flex flex-column justify-content-between" style="color: #D9401E;">
                            <span class="fa-stack fa-lg" title="Conservation et gestion durable de la biodiversité et des ressources naturelles" data-toggle="tooltip">
                                <i class="fal fa-circle fa-stack-2x"></i>
                                <i class="far fa-flower-tulip fa-stack-1x"></i>
                            </span>
                            <span class="fa-stack fa-lg" title="Consommation et production responsables" data-toggle="tooltip">
                                <i class="fal fa-circle fa-stack-2x"></i>
                                <i class="far fa-cheeseburger fa-stack-1x"></i>
                            </span>
                            <span class="fa-stack fa-lg" title="Sensibilisation et éco-communication" data-toggle="tooltip">
                                <i class="fal fa-circle fa-stack-2x"></i>
                                <i class="far fa-exchange fa-stack-1x"></i>
                            </span>
                            <span class="fa-stack fa-lg" title="Transport et mobilité durable & energie" data-toggle="tooltip">
                                <i class="fal fa-circle fa-stack-2x"></i>
                                <i class="fas fa-bus fa-stack-1x"></i>
                            </span>
                            <span class="fa-stack fa-lg" title="Responsabilité sociale du sport et solidarité" data-toggle="tooltip">
                                <i class="fal fa-circle fa-stack-2x"></i>
                                <i class="far fa-handshake fa-stack-1x"></i>
                            </span>
                        </div>
                        <div style="margin: 0 5px 0 10px">
                            {{ texte|safe }}
                        </div>
                    </div>
                </div>
                <!-- bof 2e colonne -->

            </div>
        </div>
        <!-- bof contenu -->

    {% endblock %}
{% endblock %}

{% block extra_body%}
    <div class="bg-index footer1 d-none d-lg-block">
    </div>
    <div class="bg-index footer2 d-none d-lg-block">
        Organiser&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;
        S'engager&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;
        Informer&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;
        Valoriser
    </div>
{% endblock %}
