{% extends "base.html" %}
{% load i18n %}

{% block title %}Erreur serveur (500){% endblock %}

{% block content %}

    <h2>Erreur serveur <em>(500)</em></h2>

    <div class="jumbotron">
        <h1 class="display-4">Oups, c'est plutôt embêtant !</h1>
        <p class="lead">Un incident de parcours vient d'avoir lieu dans le traitement de votre demande.</p>
        <hr class="my-4">
        <p>Cet incident a été signalée par email à l'équipe technique qui va s'engager dans une véritable course pour le
            vaincre le plus rapidement possible.<br>
            Merci pour vos encouragements (et votre patience ;-).</p>
        <a class="btn btn-primary btn-lg" href="{% url 'portail:home_page' %}" role="button">Retour à l'accueil...</a>
    </div>

{% endblock %}
