{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}
    {% if stat %}
        Suppression d'une page statique
    {% else %}
        Suppression d'une page personnalisée
    {% endif %}
{% endblock %}

{% block page_title %}
    {% if stat %}
        <h1>Suppression d'une page statique</h1>
    {% else %}
        <h1>Suppression d'une page personnalisée</h1>
    {% endif %}
{% endblock %}

{% block content %}
    <form method="post">{% csrf_token %}
        <p>Confirmer la suppression de la page {% if stat %}statique{% else %}personnalisée{% endif %} : <strong>{{ object.title }}</strong> ?</p>
        <input class="btn btn-primary" type="submit" value="Confirmer">
    </form>
{% endblock %}
