{% extends "base_form.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block head_title %}
    {% if stat %}
        Edition des pages simples
    {% else %}
        Edition des pages spécialisées
    {% endif %}
{% endblock %}

{% block page_title %}
    {% if object %}
        {% if stat %}
            <h1>Modification d'une page simple</h1>
        {% else %}
            <h1>Modification d'une page spécialisée</h1>
        {% endif %}
    {% else %}
        {% if stat %}
            <h1>Création d'une page simple</h1>
        {% else %}
            <h1>Création d'une page spécialisée</h1>
        {% endif %}
    {%  endif %}
{% endblock %}

{% block form %}
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data" id="help-form">{% csrf_token %}
        {{ form|crispy }}
        {{ form.media }}
        {% for form in inlines %}
            <fieldset>
                <legend>Notes de la page</legend>
                {{ form|crispy }}
            </fieldset>
        {% endfor %}
        <div class="form-actions d-flex justify-content-between mt-2">
            <input id="submit-id-save" class="btn btn-half btn-primary" type="submit" value="Enregistrer" name="save">
            <a class="btn btn-half btn-danger" href="
                {% if stat %}
                    {% url 'editeurs:liste_pagestat' %}
                {% else %}
                    {% url 'editeurs:liste_pageperso' %}
                {% endif %}">Annuler</a>

        </div>
    </form>
{% endblock %}
