{% extends "base.html" %}


{% load i18n %}

{% block head_title %}
    {% if stat %}
        Liste des pages simples
    {% else %}
        Liste des pages spécialisées
    {% endif %}
{% endblock %}

{% block page_title %}
    <h1>
        {% if stat %}
            Liste des pages simples
        {% else %}
            Liste des pages spécialisées
        {% endif %}
    </h1>
{% endblock %}

{% block content %}

    {% if stat %}
        <a href="{% url 'editeurs:creation_pagestat' %}" class="btn btn-primary" role="button">Créer une page</a>
    {% else %}
        <a href="{% url 'editeurs:creation_pageperso' %}" class="btn btn-primary" role="button">Créer une page</a>
    {% endif %}

    <br><br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Numéro</th>
                <th>Titre</th>
                <th>Url</th>
                <th>Extrait</th>
            </tr>
        </thead>
        <tbody>
            {% for page in object_list %}
                <tr class="clickligne" data-href="{% if stat %}{% url 'editeurs:edition_pagestat' page.pk %}{% else %}{% url 'editeurs:edition_pageperso' page.pk %}{% endif %}">
                    <td width=180>
                        <a class="btn btn-primary" role="button" href="{% if stat %}{{ page.url }}{% else %}/eco/{{ page.path }}{% endif %}">
                        <i class="deplier"></i>
                        </a>
                        <a class="btn btn-success" role="button" href="{% if stat %}{% url 'editeurs:edition_pagestat' page.pk %}{% else %}{% url 'editeurs:edition_pageperso' page.pk %}{% endif %}">
                        <i class="editer"></i></a>
                        <a class="btn btn-danger" role="button" href="
                                {% if stat %}
                                    {% url 'editeurs:suppression_pagestat' page.pk %}
                                {% else %}
                                    {% url 'editeurs:suppression_pageperso' page.pk %}
                                {% endif %}">
                            <i class="supprimer"></i>
                        </a>
                    </td>
                    <td>{{ page.pk }}</td>
                    <td>{{ page.title }}</td>
                    <td>{% if stat %}{{ page.url }}{% else %}{{ page.path }}{% endif %}</td>
                    <td>{{ page.content|striptags|safe|truncatewords:10 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
