{% load i18n %}
{% if object.charte %}
    <div class="card border-primary mb-3">
        <div class="card-header bg-primary">
            <i class="feuille"></i>Score de la charte
            <div class="progress float-right justify-content-between" style="color: black;">
                <div class="progress-bar {{ bg_bar_charte }}" role="progressbar"
                     style="width: {{ object.charte.score_total.0 }}%; color: black;"
                     aria-valuenow="{{ object.charte.score_total.0 }}" aria-valuemin="0"
                     aria-valuemax="100">
                    {% if object.charte.diplome != 'echec' %}{{ object.charte.diplome }}{% endif %}
                </div>
                {{ object.charte.score_total.0 }}%
            </div>
        </div>
        <div class="card-body">
            <p class="bg-group1"><strong><i class="charte_grp0"></i> {{ object.charte.CHARTE_GROUP.0 }}</strong><br>
                <div class="progress justify-content-between">
                    <div class="progress-bar {{ bg_bar_grp.0 }}" role="progressbar"
                         style="width: {{ object.charte.score_par_group.0.0 }}%; color: black;"
                         aria-valuenow="{{ object.charte.score_par_group.0.0 }}" aria-valuemin="0"
                         aria-valuemax="100">
                        {{ score_grp.0 }}
                    </div>
                    {{ object.charte.score_par_group.0.0 }}%
                </div>
            </p>
            <p class="bg-group2"><strong><i class="charte_grp1"></i> {{ object.charte.CHARTE_GROUP.1 }}</strong><br>
                <div class="progress justify-content-between">
                    <div class="progress-bar {{ bg_bar_grp.1 }}" role="progressbar"
                         style="width: {{ object.charte.score_par_group.0.1 }}%; color: black;"
                         aria-valuenow="{{ object.charte.score_par_group.0.1 }}" aria-valuemin="0"
                         aria-valuemax="100">
                        {{ score_grp.1 }}
                    </div>
                    {{ object.charte.score_par_group.0.1 }}%
                </div>
            </p>
            <p class="bg-group3"><strong><i class="charte_grp2"></i> {{ object.charte.CHARTE_GROUP.2 }}</strong><br>
                <div class="progress justify-content-between">
                    <div class="progress-bar {{ bg_bar_grp.2 }}" role="progressbar"
                         style="width: {{ object.charte.score_par_group.0.2 }}%; color: black;"
                         aria-valuenow="{{ object.charte.score_par_group.0.2 }}" aria-valuemin="0"
                         aria-valuemax="100">
                        {{ score_grp.2 }}
                    </div>
                    {{ object.charte.score_par_group.0.2 }}%
                </div>
            </p>
            <p class="bg-group4"><strong><i class="charte_grp3"></i> {{ object.charte.CHARTE_GROUP.3 }}</strong><br>
                <div class="progress justify-content-between">
                    <div class="progress-bar {{ bg_bar_grp.3 }}" role="progressbar"
                         style="width: {{ object.charte.score_par_group.0.3 }}%; color: black;"
                         aria-valuenow="{{ object.charte.score_par_group.0.3 }}" aria-valuemin="0"
                         aria-valuemax="100">
                        {{ score_grp.3 }}
                    </div>
                    {{ object.charte.score_par_group.0.3 }}%
                </div>
            </p>
            <p class="bg-group5"><strong><i class="charte_grp4"></i> {{ object.charte.CHARTE_GROUP.4 }}</strong><br>
                <div class="progress justify-content-between">
                    <div class="progress-bar {{ bg_bar_grp.4 }}" role="progressbar"
                         style="width: {{ object.charte.score_par_group.0.4 }}%; color: black;"
                         aria-valuenow="{{ object.charte.score_par_group.0.4 }}" aria-valuemin="0"
                         aria-valuemax="100">
                        {{ score_grp.4 }}
                    </div>
                    {{ object.charte.score_par_group.0.4 }}%
                </div>
            </p>
        </div>
    </div>
{% endif %}
