{% load static i18n charte_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'libs/fontawesome-pro/css/all.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'libs/jquery-ui/jquery-ui.min.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'portail/css/charte.css' %}" rel='stylesheet' type='text/css'>
    <script src="{% static 'libs/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/jquery-ui/jquery-ui.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'portail/js/icone.js' %}" type="text/javascript"></script>

</head>
<body>
    <br>
    <h1>Charte d'engagement<br>{{ manif.nom }} du {{ manif.date_debut }}</h1>
    <br>
    {%  with manif.charte as charte %}
    <div class="card">
        <div class="card-header bg-group1" id="charte1">
                <strong>
                    <i class="charte_grp0"></i> {{ charte.CHARTE_GROUP.0 }}
                </strong>
        </div>
        <div class="card-body bg-group1">
            <ul class="list-group">
                <li class="list-group-item">{{ charte.reglementation|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.reglementation.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.reglementation.2 }}</span></li>
                <li class="list-group-item">{{ charte.traces|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.traces.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.traces.2 }}</span></li>
                <li class="list-group-item">{{ charte.amenagements|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.amenagements.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.amenagements.2 }}</span></li>
                <li class="list-group-item">{{ charte.nettoyage|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.nettoyage.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.nettoyage.2 }}</span></li>
                <li class="list-group-item">{{ charte.gestionnaire|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.gestionnaire.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.gestionnaire.2 }}</span></li>
                <li class="list-group-item">{{ charte.contact|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.contact.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.contact.2 }}</span></li>
                <li class="list-group-item">{{ charte.protection|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.protection.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.protection.2 }}</span></li>
                <li class="list-group-item">{{ charte.balisage|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.balisage.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.balisage.2 }}</span></li>
                <li class="list-group-item">{{ charte.respect_env|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.respect_env.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.respect_env.2 }}</span></li>
                <li class="list-group-item">Action supplémentaire n°1 : {{ charte.autre_01|default:"" }}</li>
                <li class="list-group-item">Action supplémentaire n°2 : {{ charte.autre_02|default:"" }}</li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-group2" id="charte2">
                <strong>
                    <i class="charte_grp1"></i> {{ charte.CHARTE_GROUP.1 }}
                </strong>
        </div>
        <div class="card-body bg-group2">
            <ul class="list-group">
                <p class="text-center font-weight-bold pt-3">Déchets</p>
                <li class="list-group-item">{{ charte.dechets|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.dechets.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.dechets.2 }}</span></li>
                <li class="list-group-item">{{ charte.benevoles|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.benevoles.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.benevoles.2 }}</span></li>
                <li class="list-group-item">{{ charte.site_propre|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.site_propre.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.site_propre.2 }}</span></li>
                <li class="list-group-item">{{ charte.vaisselle|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.vaisselle.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.vaisselle.2 }}</span></li>
                <li class="list-group-item">{{ charte.eau_reseau|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.eau_reseau.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.eau_reseau.2 }}</span></li>
                <p class="text-center font-weight-bold pt-3">Alimentation</p>
                <li class="list-group-item">{{ charte.conditionnement|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.conditionnement.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.conditionnement.2 }}</span></li>
                <li class="list-group-item">{{ charte.quantite|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.quantite.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.quantite.2 }}</span></li>
                <li class="list-group-item">{{ charte.ingredients|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.ingredients.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.ingredients.2 }}</span></li>
                <li class="list-group-item">{{ charte.vegetarien|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.vegetarien.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.vegetarien.2 }}</span></li>
                <li class="list-group-item">{{ charte.producteurs|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.producteurs.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.producteurs.2 }}</span></li>
                <p class="text-center font-weight-bold pt-3">Matériel</p>
                <li class="list-group-item">{{ charte.materiel|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.materiel.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.materiel.2 }}</span></li>
                <li class="list-group-item">{{ charte.location|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.location.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.location.2 }}</span></li>
                <li class="list-group-item">{{ charte.toilettes|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.toilettes.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.toilettes.2 }}</span></li>
                <li class="list-group-item">Action supplémentaire n°1 : {{ charte.autre_11|default:"" }}</li>
                <li class="list-group-item">Action supplémentaire n°2 : {{ charte.autre_12|default:"" }}</li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-group3" id="charte3">
                <strong>
                    <i class="charte_grp2"></i> {{ charte.CHARTE_GROUP.2 }}
                </strong>
        </div>
            <div class="card-body bg-group3">
            <ul class="list-group">
                <p class="text-center font-weight-bold pt-3">Communication</p>
                <li class="list-group-item">{{ charte.reseaux|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.reseaux.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.reseaux.2 }}</span></li>
                <li class="list-group-item">{{ charte.papiers|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.papiers.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.papiers.2 }}</span></li>
                <li class="list-group-item">{{ charte.impression_papier|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.impression_papier.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.impression_papier.2 }}</span></li>
                <li class="list-group-item">{{ charte.impression_encre|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.impression_encre.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.impression_encre.2 }}</span></li>
                <li class="list-group-item">{{ charte.support_com|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.support_com.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.support_com.2 }}</span></li>
                <li class="list-group-item">{{ charte.gadjet|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.gadjet.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.gadjet.2 }}</span></li>
                <p class="text-center font-weight-bold pt-3">Sensibilisation</p>
                <li class="list-group-item">{{ charte.responsable|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.responsable.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.responsable.2 }}</span></li>
                <li class="list-group-item">{{ charte.pratiques|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.pratiques.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.pratiques.2 }}</span></li>
                <li class="list-group-item">{{ charte.dispositifs|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.dispositifs.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.dispositifs.2 }}</span></li>
                <li class="list-group-item">{{ charte.site_internet|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.site_internet.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.site_internet.2 }}</span></li>
                <li class="list-group-item">{{ charte.charte_eco|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.charte_eco.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.charte_eco.2 }}</span></li>
                <li class="list-group-item">{{ charte.sponsors|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.sponsors.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.sponsors.2 }}</span></li>
                <li class="list-group-item">{{ charte.pack_eco|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.pack_eco.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.pack_eco.2 }}</span></li>
                <li class="list-group-item">{{ charte.caritatif|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.caritatif.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.caritatif.2 }}</span></li>
                <li class="list-group-item">Action supplémentaire n°1 : {{ charte.autre_21|default:"" }}</li>
                <li class="list-group-item">Action supplémentaire n°2 : {{ charte.autre_22|default:"" }}</li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-group4" id="charte4">
                <strong>
                    <i class="charte_grp3"></i> {{ charte.CHARTE_GROUP.3 }}
                </strong>
        </div>
        <div class="card-body bg-group4">
            <ul class="list-group">
                <p class="text-center font-weight-bold pt-3">Transports et la mobilité durable</p>
                <li class="list-group-item">{{ charte.transport_commun|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.transport_commun.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.transport_commun.2 }}</span></li>
                <li class="list-group-item">{{ charte.covoiturage|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.covoiturage.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.covoiturage.2 }}</span></li>
                <li class="list-group-item">{{ charte.parking|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.parking.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.parking.2 }}</span></li>
                <li class="list-group-item">{{ charte.transport_alter|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.transport_alter.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.transport_alter.2 }}</span></li>
                <li class="list-group-item">{{ charte.recompense|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.recompense.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.recompense.2 }}</span></li>
                <li class="list-group-item">{{ charte.pieton|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.pieton.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.pieton.2 }}</span></li>
                <li class="list-group-item">{{ charte.acces_facile|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.acces_facile.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.acces_facile.2 }}</span></li>
                <p class="text-center font-weight-bold pt-3">Energie et changements climatiques</p>
                <li class="list-group-item">{{ charte.gaspillage|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.gaspillage.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.gaspillage.2 }}</span></li>
                <li class="list-group-item">{{ charte.planif_elec|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.planif_elec.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.planif_elec.2 }}</span></li>
                <li class="list-group-item">{{ charte.groupe_elec|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.groupe_elec.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.groupe_elec.2 }}</span></li>
                <li class="list-group-item">{{ charte.conso_elec|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.conso_elec.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.conso_elec.2 }}</span></li>
                <li class="list-group-item">{{ charte.hebergeur|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.hebergeur.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.hebergeur.2 }}</span></li>
                <li class="list-group-item">Action supplémentaire n°1 : {{ charte.autre_31|default:"" }}</li>
                <li class="list-group-item">Action supplémentaire n°2 : {{ charte.autre_32|default:"" }}</li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-group5" id="charte5">
                <strong>
                    <i class="charte_grp4"></i> {{ charte.CHARTE_GROUP.4 }}
                </strong>
        </div>
        <div class="card-body bg-group5">
            <ul class="list-group">
                <p class="text-center font-weight-bold pt-3">Les bénévoles et riverains</p>
                <li class="list-group-item">{{ charte.remerciement|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.remerciement.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.remerciement.2 }}</span></li>
                <li class="list-group-item">{{ charte.respect_pop|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.respect_pop.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.respect_pop.2 }}</span></li>
                <li class="list-group-item">{{ charte.riverain|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.riverain.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.riverain.2 }}</span></li>
                <p class="text-center font-weight-bold pt-3">L'accessibilité et solidarité</p>
                <li class="list-group-item">{{ charte.mobilite|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.mobilite.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.mobilite.2 }}</span></li>
                <li class="list-group-item">{{ charte.handicap|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.handicap.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.handicap.2 }}</span></li>
                <li class="list-group-item">{{ charte.tarif|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.tarif.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.tarif.2 }}</span></li>
                <li class="list-group-item">{{ charte.partenariat|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.partenariat.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.partenariat.2 }}</span></li>
                <p class="text-center font-weight-bold pt-3">Promotion de la santé</p>
                <li class="list-group-item">{{ charte.sante|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.sante.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.sante.2 }}</span></li>
                <li class="list-group-item">{{ charte.secourisme|iconic|safe }} : <span {% if charte.CHARTE_MEMBER.secourisme.0 %}class="requis"{% endif %}>{{ charte.CHARTE_MEMBER.secourisme.2 }}</span></li>
                <li class="list-group-item">Action supplémentaire n°1 : {{ charte.autre_41|default:"" }}</li>
                <li class="list-group-item">Action supplémentaire n°2 : {{ charte.autre_42|default:"" }}</li>
            </ul>
        </div>
    </div>
    {% endwith %}
</body>
</html>