{% extends "base.html" %}


{% load i18n static %}

{% block extra_js %}
    <script src="{% static 'libs/fontawesome-pro/js/all.js' %}" type="text/javascript"></script>
{% endblock %}

{% block head_title %}
    Diplôme
{% endblock %}

{% block page_title %}
    <h1> Diplôme d'éco-manifestation obtenu par la manifestation {{ manif }}</h1>
{% endblock %}

{% block content %}
    <div class="page_diplome">
        <img src="{% static 'portail/img/Diplome_Ecomanif_v3.jpg' %}" width="1200px">
        <div class="diplome_label">
            {% if diplome == "or" %} <img src="{% static 'portail/img/Or.jpg' %}"
            {% elif diplome == "argent" %} <img src="{% static 'portail/img/Argent.jpg' %}"
            {% elif diplome == "bronze" %} <img src="{% static 'portail/img/Bronze.jpg' %}"
            {% endif %} width="500px">
        </div>
        <div class="diplome_ecrit h1">
            <p>
                Aux vues des actions cochées dans le formulaire de cette manifestation,
                la plateforme "EcoManifestation" décerne le diplôme <strong>{{ diplome }}</strong>
                à la manifestation :<br><span class="d-block text-center py-2"><strong>{{ manif }}</strong></span>
                organisée par <strong>{{ manif.structure }}</strong>
            </p>
            <br>
            <p class="h3">
                Manifestation de {{ manif.activite }} du {{ manif.date_debut }} au {{ manif.date_fin }}
                se déroulant à {{ manif.ville_depart }}.<br>
                Elle traverse le ou les parcs :
                {% for parc in manif.parcs.all %}
                    {% if forloop.last %}
                        {{ parc }}.
                    {% else %}
                        {{ parc }},
                    {% endif %}
                {% endfor %}
            </p>
            <p class="h1 diplome_date">Fait le {{ date }}</p>
        </div>
    </div>
    <div class="row boutons">
        <div class="col-md-auto">
            <a href="#" OnClick="javascript:window.print()" class="btn btn-outline-primary btn-fill mt-4 mb-2"
               role="button">
                <i class="imprimer"></i> Imprimer le diplôme
            </a><br>
            Télécharger le logo :
            <a href="{% url 'evenements:charte_label' manif.pk 'blanc' %}" target="_blank"
               class="btn btn-outline-primary mb-1" role="button">
                <i class="telecharger"></i> sur fond blanc
            </a>
            <a href="{% url 'evenements:charte_label' manif.pk 'trans' %}" target="_blank"
               class="btn btn-outline-primary mb-1" role="button">
                <i class="telecharger"></i> sur fond transparent
            </a>
        </div>
        <div class="col-md-auto ml-lg-auto">
            <a href="{% url 'evenements:manif_detail' manif.pk %}" class="btn btn-outline-primary btn-fill mt-4"
               role="button">
                <i class="retour"></i> Revenir à la manifestation
                <i class="dossier left-margin"></i>
            </a>
        </div>
    </div>
{% endblock %}