{% extends "base_form.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block head_title %}
    {% if manif %}
        Charte Ecomanif pour la manifestation "{{ manif }}"
    {% else %}
        Charte Ecomanif pour la manifestation "{{ object.manif }}"
    {% endif %}
{% endblock %}

{% block page_title %}
    {% if manif %}
        <h1>Charte Ecomanif pour la manifestation "{{ manif }}"</h1>
    {% else %}
        <h1>Modification de la charte Ecomanif pour la manifestation "{{ object.manif }}"</h1>
    {% endif %}
{% endblock %}
{% block extra_js %}
    <script>
        $(document).ready(function () {

            // Marquer les champs de classe "requis"
            $('.requis').each(function () {
                $(this).parents('.form-group').addClass('font-weight-bold');
                $(this).parents('.form-group div').removeClass('offset-sm-1');
                $(this).parents('.form-group').prepend('<div class="col-sm-1">&nbsp;&nbsp;<i class="fab fa-pagelines fa-lg" title="Action requise" data-toggle="tooltip"></div>');
            });

            // décaler les champs texte_area
            $('label.col-form-label').removeClass('col-sm-1').addClass('col-sm-3');
            $('label.col-form-label + div').removeClass('col-sm-11').addClass('col-sm-8');

        });
    </script>
{% endblock %}
