{% extends "base.html" %}


{% load static i18n humanize %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>
{% endblock %}

{% block head_title %}
    Tableau de bord
{% endblock %}

{% block page_title %}
    {% if request.user.organisateur %}
        <h1><i class="tableau-de-bord left-margin"></i><span class="span-hide-470"> Tableau de bord</span> organisateur</h1>
    {% else %}
        <h1><i class="tableau-de-bord left-margin"></i><span class="span-hide-470"> Tableau de bord</span> référent
            {% if archive %}
                des archives
            {% else %}
                <a href="{% url 'referents:tableau-de-bord-referent' %}?archive">
                    <span class="float-right btn btn-primary btn-sm attendre-archive"><i class="archive"></i>
                        <span class="span-hide-470">Archives</span></span></a>
            {% endif %}
        </h1>
    {% endif %}
{% endblock %}

{% block content %}
    {% if request.user.organisateur.structure or request.user.referent %}
        {% if request.user.organisateur %}
            <p><a href="{% url 'evenements:preambule_creation_evenement' %}" class="btn btn-primary btn-break" role="button">
                <i class="ajouter"></i> Déclarer une nouvelle manifestation
            </a></p>
        {% endif %}
        <div class="card card-primary">
            <div class="card-header">
                <h2><i class="dossier"></i> Mes manifestations
                <input class="form-control float-right w-25" id="search" style="min-width: 95px;" placeholder="Rechercher"></h2>
            </div>
            <div class="table-responsive">
                <table id="manif-table" class="table-hover">
                    <thead>
                        <tr>
                            {% if request.user.organisateur %}
                                <th>État</th>
                            {% else %}
                                <th title="département de la ville de départ" data-toggle="tooltip">Dépt</th>
                            {% endif %}
                            <th>Nom</th>
                            <th>Date</th>
                            <th>Départ de</th>
                            <th>Parcs traversés</th>
                            <th>Diplôme</th>
                            <th title="délai avant envoie ou documents complémentaires manquants" data-toggle="tooltip">Délais / Docs</th>
                            <th>Dernière action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for manif in object_list %}
                            {# onclick dans le <tr> ne marche pas avec bootstrap-table, voir script main. On passe l'url avec data-href #}
                            <tr class="{% if manif.finalise %}
                                            {% if manif.get_docs_complementaires_manquants.exists %}
                                                table-warning
                                            {% else %}
                                                table-success
                                            {% endif %}
                                        {% else %}
                                            {% if manif.delai_depasse %}
                                                table-dark
                                            {% elif manif.cinq_jours_restants %}
                                                table-danger
                                            {% else  %}
                                                table-secondary
                                            {% endif %}
                                        {% endif %} clickligne"  data-href='{% if request.user.organisateur %}{{ manif.get_absolute_url }}{% else %}{{ manif.get_referent_url }}{% endif %}'>

                                <td class="text-center">
                                    {% if request.user.organisateur %}
                                        {% if not manif.finalise %}
                                            <i class="editer fa-lg" data-titre="Demande non envoyée" data-selection="editée"></i>
                                        {% else %}
                                            <i class="envoyer fa-lg" data-titre="Demande envoyée" data-selection="envoyée"></i>
                                        {% endif %}
                                    {% else %}
                                        {{ manif.get_departement_depart_nom }}
                                    {% endif %}
                                </td>
                                <td>{{ manif.nom }}</td>
                                <td >{{ manif.date_debut|date:"d/m/Y" }}</td>
                                <td>{{ manif.ville_depart }}</td>
                                <td>({{ manif.parcs.all.count }}) {{ manif.parcs.all.first|default:"" }}</td>
                                <td class="text-center">
                                    {% if manif.charte %}
                                        {% if manif.charte.diplome == 'or' %}
                                            <i class="diplome_or"></i>
                                        {% elif manif.charte.diplome == 'argent' %}
                                            <i class="diplome_arg"></i>
                                        {% elif manif.charte.diplome == 'bronze' %}
                                            <i class="diplome_bro"></i>
                                        {% else %}
                                            <i class="diplome_echec"></i>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if not manif.finalise %}
                                        {{ manif.get_date_limite|naturaltime|capfirst }}
                                    {% else %}
                                        {% if manif.get_docs_complementaires_manquants.count %}
                                            {{ manif.get_docs_complementaires_manquants.count }} doc(s) à fournir
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>{{ manif.actions.last.creation_date|date:"d/m/Y H:i" }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td></td>
                                <td>Aucune manifestation déclarée pour le moment</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <div class="well">
            <p>Dans un premier temps, veuillez renseigner les informations relatives à la structure organisatrice de la manifestation sportive</p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <a href="{% url 'evenements:structure_add' %}" class="btn btn-primary" role="button">
                    Accéder au formulaire de renseignement sur la structure organisatrice
                </a>
            </div>
        </div>
    {% endif %}
    <script>
        $(document).ready(function () {
            $.fn.dataTable.moment( 'DD/MM/YYYY' );
            $.fn.dataTable.moment( 'DD/MM/YYYY HH:mm');
            $('#manif-table').DataTable({
                "paging": false,
                "info": false
            });
            $('.dataTables_filter').hide();

            $("#search").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#manif-table tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });

        });
    </script>
{% endblock %}
