{% extends "base_form.html" %}

{% load crispy_forms_tags %}
{% load i18n verbose_tags %}
{% load static %}

{% block head_title %}
    Organisation d'une manifestation sportive
{% endblock %}

{% block page_title %}
    Manifestation : <strong>{{ form.instance }}</strong>
{% endblock %}

{% block form %}
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data" id="manifestation-form">
        {% if form.target.id %}<input type="hidden" name="id" id="id_id" value="{{ form.target.id }}">{% endif %}
        {% crispy form %}
        {{ form.media }}
        <div class="form-actions {% if not form.instance.id %}text-center{% endif %}">
            <input id="submit-id-save" class="btn btn-half btn-primary" type="submit" value="{% if envoyer %}Envoyer{% else %}Enregistrer{% endif %}" name="save">
            {% if form.instance.id %}
                <a class="btn btn-half btn-danger float-right" href="javascript:history.back()">Annuler</a>
            {% endif %}

        </div>
    </form>
{% endblock %}

{% block extra_js %}
     <script src='{% static "portail/js/file-validator.js" %}' type="text/javascript"></script>
    <script src='{% static "portail/js/he.js" %}' type="text/javascript"></script>
    <script src='{% static "libs/autogrow/jquery.ns-autogrow.min.js" %}' type="text/javascript"></script>
    <script src='{% static "portail/js/jquery.liveValidation.js" %}' type="text/javascript"></script>
    <script src='{% static "evenements/js/manifestation_formulaire.js" %}' type="text/javascript"></script>
{% endblock %}
