{% extends "base.html" %}


{% load i18n %}

{% block head_title %}{{ object|capfirst }}{% endblock %}
{% block page_title %}
    <h1>{{ object|capfirst }}</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <div class="card ">
                {% if not object.visible_dans_calendrier %}
                    <div class="card-body"><span class="text-danger">La manifestation a été masquée du calendrier public par l'{{ object.prive | yesno:"organisateur,instructeur" }}</span></div>
                {% endif %}
                <div class="card-body">{{ object.description|linebreaks }}</div>
                <ul class="list-group">
                    <li class="list-group-item"><strong><i class="date"></i>Début : </strong>{{ object.date_debut|date:"d F Y - H:i" }}</li>
                    <li class="list-group-item"><strong><i class="date"></i>Fin : </strong>{{ object.date_fin|date:"d F Y - H:i" }}</li>
                    <li class="list-group-item"><strong><i class="activite"></i> Sport : </strong>{{ object.activite.discipline }} - {{ object.activite }}</li>
                    <li class="list-group-item"><strong><i class="lieu"></i> Commune de départ : </strong>{{ object.ville_depart|capfirst }}</li>
                    <li class="list-group-item"><strong><i class="lieu"></i> parcs traversés : </strong>
                        {% for parc in object.parcs.all %}
                            {% if forloop.last %}
                                {{ parc }}.
                            {% else %}
                                {{ parc }},
                            {% endif %}
                        {% endfor %}
                    </li>
                    <li class="list-group-item"><strong><i class="lieu"></i> Communes traversées : </strong>
                        {% for ville in object.get_villes_traversees %}
                            {% if forloop.last %}
                                {{ ville }}.
                            {% else %}
                                {{ ville }},
                            {% endif %}
                        {% endfor %}
                    </li>
                </ul>
            {% if object.afficher_adresse_structure %}
                <div class="card-body">
                    <strong>Informations de contact :</strong><br>
                    {% with object.structure as structure %}
                        {{ structure.name }}<br>
                        {{ structure.address }}<br>
                        <span id="ctx-help-insee-code">{{ structure.commune.code }}</span> {{ structure.commune }}<br>
                        {% if structure.website %}<strong>Site web :</strong> {{ structure.website|urlize }}<br>{% endif %}
                        <strong>Téléphone :</strong> {{ structure.phone }}<br>
                    {% endwith %}

                </div>
            {% endif %}
            </div>
        </div>
        {% comment %}
        <div class="col-sm-6">
            {% include 'events/map.html' %}
        </div>
        {% endcomment %}
    </div>
    {% if object.get_type_manif %}
        <a href="{% url 'portail:calendar' %}" class="btn btn-primary">
            <i class="date"></i> Retour au calendrier des manifestations sportives</a>
    {% else %}
        <a href="{% url 'evenements:tableau-de-bord-organisateur' %}" class="btn btn-primary">
            <i class="tableau-de-bord"></i> Retour au tableau de bord</a>
    {% endif %}
{% endblock %}
