{% extends "base.html" %}


{% load i18n file_tags %}

{% block head_title %}
    EcoManifestation
{% endblock %}

{% block resume %}
    {% include 'evenements/blocs/bandeau_resume.html' with manif=object %}
{% endblock %}

{% block fil_ariane %}
    {% if request.user.organisateur %}
        {% include 'evenements/blocs/bandeau_fil_ariane.html' %}
        {% if not object.finalise %}
            {% include 'evenements/blocs/bandeau_delai_manif.html' %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="tab-list col-lg-12">
            <ul class="nav nav-tabs" id="onglet">
                <li class="nav-item"><a class="nav-link active" href="#event" data-toggle="tab">Détail de la manifestation</a></li>
                {% include 'evenements/panneaux/onglets.html' %}
            </ul>
        </div>
        <div class="col-lg-8">
            <div class="tab-content">
                {% include 'evenements/panneaux/organisateur.html' %}
            </div>
        </div>
        <div class="col-lg-4">
            {% if requis  %}
            <div class="card border-danger side mb-3">
                <div class="card-header bg-danger">
                        <i class="action-requise-blanc"></i>Actions requises
            {% else %}
            <div class="card border-primary side mb-3">
                <div class="card-header bg-primary">
                        <i class="action-requise-blanc"></i>Actions possibles
            {% endif %}
                </div>
                <div class="card-body">
                    {% if action == 'rien' %}<p>Pas d'actions possibles</p>{% endif %}
                    {% if action == 'contact' %}<p style="color: red;">La date limite d'envoi de la déclaration est dépassée.<br>Veuillez prendre contact avec le référent de votre département.</p>{% endif %}
                    {% if action == 'echec' %}
                        <p style="color: red;">Le score de la charte est insuffisant pour envoyer votre déclaration.<br>
                            Vous devez au minimum, réaliser les actions obligatoires de chaque thématique.<br><br>
                            <a href="{% url 'evenements:charte_update' manif_pk=object.id %}"
                               class="btn btn-primary btn-break" role="button"><i class="editer"></i> Editer votre charte</a>
                        </p>
                    {% endif %}
                    {% if action == 'charte' %}
                        <a href="{% url 'evenements:charte_add' manif_pk=object.id %}" class="btn btn-primary btn-break" role="button">
                            <i class="evaluer"></i> Evaluer votre EcoManifestation
                        </a>
                    {% endif %}
                    {% if action == 'envoi' %}
                        <a href="{% url 'evenements:manif_send' pk=object.id %}" class="btn btn-primary btn-break" role="button">
                            <i class="envoyer"></i> Envoyer la déclaration
                        </a>
                    {% endif %}
                    {% if action == 'diplome' %}
                        <a href="{% url 'evenements:charte_dipl' manif_pk=object.id %}" class="btn btn-primary btn-break" role="button">
                            <i class="diplome"></i> Accéder à votre diplôme
                        </a>
                        <br>
                        <a href="/eco/pack{{ user.get_departement.name }}" class="btn btn-primary btn-break mt-4" role="button">
                            <i class="diplome"></i> Accéder au pack Éco-Évènement
                        </a>
                    {% endif %}
                    {% if action == 'manquants' %}
                        <p style="color: red;">Le dossier de la manifestation est incomplet:<br>
                        Une fois les points listés réglés, vous serez en mesure d'envoyer votre demande.
                        <ul>
                            {% for fichier in object.liste_manquants %}
                                    {% if fichier == "formulaire incomplet" %}
                                        <a href="{% url 'evenements:manif_update' pk=object.id %}" class="btn btn-primary btn-break" role="button"><i class="editer"></i> Editer le formulaire</a>
                                    {% else %}
                                        <li>{{ fichier }}</li>
                                    {% endif %}
                           {% endfor %}
                        </ul>
                        </p>
                    {% endif %}
                    {% if request.user.referent %}
                        <a href="{% url 'evenements:demander_doc_complementaire' manif_pk=object.id %}" class="btn btn-primary btn-break" role="button">
                            <i class="ajouter"></i> Demander plus d'informations
                        </a>
                    {% endif %}
                </div>
            </div>
            {% if doc %}
                <div class="card border-danger mb-3">
                    <div class="card-header bg-danger">
                        <i class="doc"></i>Des documents complémentaires sont requis par le référent du département
                    </div>
                    <div class="card-body">
                        <p style="color: red;">Veuillez fournir les documents dont la liste est affichée ci-dessous</p>
                        <ul class="list-group">
                            {% for additional_data in object.get_docs_complementaires_manquants %}
                                <li class="list-group-item">
                                    <a href="{% url 'evenements:fournir_doc_complementaire' pk=additional_data.pk %}">{{ additional_data }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <br>
            {% endif %}
            {% include 'evenements/side_bar/score_charte.html' %}

            {% if request.user.organisateur %}
                <a href="{% url 'evenements:tableau-de-bord-organisateur' %}" class="btn btn-outline-secondary btn-fill btn-break mt-4" role="button">
                    <i class="retour"></i> Revenir au tableau de bord
                    <i class="tableau-de-bord left-margin"></i>
                </a>
            {% else %}
                <a href="{% url 'referents:tableau-de-bord-referent' %}" class="btn btn-outline-secondary btn-fill btn-break mt-4" role="button">
                    <i class="retour"></i> Revenir au tableau de bord
                    <i class="tableau-de-bord left-margin"></i>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
