{% extends "base.html" %}

{% load static %}

{% block head_title %}Constitution du dossier en 3 étapes{% endblock %}
{% block page_title %}
    <h1> Constitution du dossier en 3 étapes...</h1>
{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Étape 1</div>
                <div class="card-body" style="height: 300px">
                    <h5 class="card-title"><i class="dossier"></i>Le formulaire de manifestation</h5>
                    <p>Saisissez les renseignements demandés pour créer votre manifestation.<br/>
                        Vous pourrez enregistrer votre formulaire à tout moment puis le reprendre ultérieurement
                        à partir de votre tableau de bord.
                    </p>
                    <br><br>
                    <a href="{% url 'evenements:manif_add' %}?dept={{ request.GET.dept }}" role="button"
                       class="btn btn-fill btn-primary"><i class="dossier"></i> Accéder au formulaire
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Étape 2</div>
                <div class="card-body" style="height: 300px">
                    <h5 class="card-title"><i class="dossier"></i>La charte d'engagement</h5>
                    <p>Cocher les actions que vous avez prévues.<br>
                        Celles marquées en gras avec un petit pictogramme feuille en tête sont requises pour la validation (socle minimum).<br>
                        Vous pouvez ajouter deux actions supplémentaire par thématiques.<br/>
                        Vous pourrez enregistrer votre évaluation à tout moment puis la reprendre ultérieurement.<br>
                        Vous pourrez évaluer votre manifestation après avoir renseigné les 5 thématiques, en cliquant sur le lien proposé dans la partie "action requise".
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Étape 3</div>
                <div class="card-body" style="height: 300px">
                    <h5 class="card-title"><i class="doc"></i>Documents joints</h5>
                    <p>Plusieurs pièces peuvent être annexées à votre formulaire afin de constituer votre dossier.<br/>
                        <ol>
                            <li>Le tracé du parcours de votre manifestation.</li>
                            <li>La convention passée avec les gestionnaires d’espaces naturels (parcs, réserves naturelles...).</li>
                        </ol>
                    <p>Ces pièces ne sont pas obligatoires mais elles peuvent vous être demandées par le référent qui examinera votre dossier !</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
