{% extends "base.html" %}


{% load i18n %}

{% block head_title %}Administrations des Parcs naturels régionaux et des Parcs nationaux {% endblock %}
{% block page_title %}
    <h1>Administrations des Parcs naturels régionaux et des Parcs nationaux</h1>
{% endblock %}

{% block content %}
<div class="row">
    <div class="panel-group col-6" id="accordion" role="tablist" aria-multiselectable="true">
        {% for parc in object_list %}
            <div class="panel ">
                <div class="panel-heading" role="tab" id="heading{{ parc.pk }}">
                    <h3 class="panel-title">
                        <a role="button"
                           data-toggle="collapse"
                           href="#collapse{{ parc.pk }}"
                           aria-expanded="true" aria-controls="collapse{{ parc.pk }}">
                            <i class="fas fa-plus"></i> {{ parc.name }}
                        </a>
                    </h3>
                </div>
                <div id="collapse{{ parc.pk }}"
                     class="panel-collapse collapse{% if focus == parc.pk %} show {% endif %}"
                     role="tabpanel"
                     data-parent="#accordion"
                     aria-labelledby="heading{{ parc.pk }}">
                    <div class="panel-body">
                        {{ parc.administrateursparcnaturel.short_name }}&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
                        {{ parc.administrateursparcnaturel.name }}<br/>
                        Adresse&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;
                        {{ parc.administrateursparcnaturel.address }},&nbsp;&nbsp;&nbsp;
                        {{ parc.administrateursparcnaturel.commune.get_zipcoded_name }}<br>
                        Courriel&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;
                        {{ parc.administrateursparcnaturel.email|urlize }}<br>
                        Conservateurs&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;<br>
                        {% for contact in parc.administrateursparcnaturel.conservator.all %}
                            <span class="pl-5">
                            {{ contact.first_name }}&nbsp;&nbsp;
                            {{ contact.last_name }}&nbsp;&nbsp;&nbsp;
                            Tel&nbsp;&nbsp;:&nbsp;&nbsp;
                            {{ contact.phone }}
                            </span>
                        {% endfor %}
                     </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="img_page col-6 d-none d-lg-block">
        <img alt="" src="/media/uploads/2019/06/04/randonnee-019-tous-droits-reserves-mathieu-morverand-phototheque-sportsdenaturegouvfr.png" style="float: unset; max-width: 100%"/>
    </div>
</div>
{% endblock %}
