{% extends "base.html" %}


{% load i18n %}

{% block head_title %}Parcs Naturels Régionaux et parcs Nationaux{% endblock %}
{% block page_title %}
    <h1>Parcs Naturels Régionaux et parcs Nationaux</h1>
{% endblock %}

{% block content %}
    <div class="tab-list">
        <ul class="nav nav-tabs" id="onglet">
        {% for dep in departements %}
            <li class="nav-item"><a class="nav-link {% if forloop.first %}active{% endif %}" href="#item_{{ forloop.counter }}" data-toggle="tab">{{ dep.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="tab-content">
        {% for dep in departements %}
            <div id="item_{{ forloop.counter }}" class="card  tab-pane fade {% if forloop.first %}active show{% endif %}">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Nom</th>
                            <th>Administrateur</th>
                            <th>Nom</th>
                            <th>Adresse</th>
                            <th>E-mail</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for parc in object_list %}
                            {% if dep in parc.departements.all %}
                                 <tr>
                                    <td>{{ parc.code }}</td>
                                    <td>{{ parc.name }}</td>
                                    <td>{{ parc.administrateursparcnaturel.short_name }}</td>
                                    <td>{{ parc.administrateursparcnaturel.name }}</td>
                                    <td>{{ parc.administrateursparcnaturel.address }}</td>
                                    <td>{{ parc.administrateursparcnaturel.email|urlize }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}
