h1 {
    text-align: center;
}
@media print {
    body {
        padding: 0;
    }
    @page {
        size: portrait;
    }
    div.card {
        page-break-after: always;
        page-break-inside: avoid;
    }
}
