/*

Vert principal : #9aa400
Vert plus foncé : #7d9100
Vert plus clair : #869200
Bleu : #015A70
Gris taupe : #857865

overides html tag
overides classes
custom classes
navbar
overrides bootstrap
BS switch
overrides Bootstrap 4 Ti-Ta-Toggle
footer
Tooltip
#accordion
#histoaccordion
tabs & nav-tabs
icone
#scrollToTop : retour haut de page
post-date
charte
 */

@font-face {
    font-family:"Lato";
    src: url("/static/libs/font-lato/Lato-Regular.ttf") /* TTF file for CSS3 browsers */
}

/* bof html tag */
body {
    padding-top: 140px;
    padding-bottom: 200px;
    font-family: "Lato", "Open Sans", "Helvetica Neue";
}

body, .btn, .form-control {
    font-size: 0.95rem;
}

@media all and (max-width: 768px) {
    body {
    padding-top: 50px;
    padding-bottom: 0;
    }
}

.span-disp-470 {
    display: none;
}

@media all and (max-width: 470px) {
    .span-hide-470 {
        display: none;
    }
    .span-disp-470 {
        display: inline;
    }
}

a {
    color: #015A70;
}

.h1, h1 {
    font-size: 19px;
    letter-spacing: 0.1em;
}

.h2, h2 {
    font-size: 17px;
}

.h3, h3 {
    font-size: 15px;
    margin-top: 20px;
}

.h1, .h2, .h3, h1, h2 {
    margin: 6px 0;
    color: #015a70;
}

p {
    word-wrap: break-word;
}

blockquote {
    font-size: 1rem;
    padding: 10px 20px;
    margin-left: 20px;
    border-left: 5px solid #eee;
}

legend {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    border-bottom: 1px solid #869200;
}

input[disabled=disabled] {
    cursor: not-allowed;
}

em {
    margin-right: 2px;
}

/* eof html tag */

/* bof overides classes */

.multiField {
    padding-left: 50px;
    border-bottom: solid #869200 1px;
}

ul.chosen-choices::before, input.ui-autocomplete-input::before {
    content: "▼";
    float: right;
    font-size: 18px;
    color: #aaaaaa;
    cursor: pointer;
}
ul.chosen-choices li.chosen-sync-icon {
    margin: 2px 8px 0 0;
    color: #FFFFFF;
    background-color: #015A70;
    border-radius: 4px;
    padding: 2px 2px 2px 6px;
}

.fa {
    margin-right: 5px;
}

.scroll-table {
    display: block;
    max-height: 600px;
    overflow-y: scroll;
}

.float-right + .float-right {
    margin-right: 10px;
}

#page-header {
    background-color: #fbfbfb;
    margin: 10px 0 20px;
    min-height: 0;
    padding: 4px 14px;
    border-color: #ddd;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom: 5px solid #ddd;
    border-left-width: 1px;
    border-radius: 4px 4px 0 0;
    color: #015a70;
    font-size: 1rem;
}
#page-header:empty {
         display: none;
}

#page-header .h1, #page-header h1 {
    margin: 6px 0;
    color: #015a70;
    background-color: #ffffff;
    padding: 6px;
    text-transform: inherit;
    font-weight: 500;
}

.resume {
    background-color: #015A70!important;
    margin: 10px 0 20px;
    min-height: 0;
    padding: 14px 14px;
    border-color: #ddd;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom: 5px solid #ddd;
    border-left-width: 1px;
    border-radius: 4px 4px 0 0;
    color: #ffffff;
    font-size: 0.9rem;
}
.resume:empty {
         display: none;
}
.resume .declaration i, .resume .autorisation i {
    /* icone */
    color: #ffffff !important;
}
.resume .declaration .fa-layers-text, .resume .autorisation .fa-layers-text {
    color: #000000 !important;
}

.django-ckeditor-widget {
    width: 100%;
    padding-right: 8px;
}


/* eof overides classes */

/* bof custom classes */

ul.socialaccount_providers > li {
    padding-top: 15px;
    width: 210px;
}

a.socialaccount_provider > img, a.socialaccount_provider > button {
    width: 200px;
}

span.socialaccount_provider > img {
    width: 200px;
}

.table {
    background-color: #ffffff;
}

table#instruction-table > thead.filter > tr th:first-child {
    width: 140px;
}

table#instruction-table {
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap:break-word;
}

thead.filter > tr > th {
    padding: unset;
}

thead.filter > tr > th > select {
    padding: unset;
}

.clickligne {
    cursor: pointer;
}

#demandeavis input{
    width: 100%;
}

#demandeavis form > .form-group {
    margin-bottom: 0;
}

.permalink {
    float: right;
    margin-top: -20px;
}

.top-right {
    position: absolute;
    right: 5px;
    top: 11px;
}

.list-no-style {
    list-style-type: none;
     padding-left: 0;
}

.attendre-archive {
    position: relative;
    z-index: 10;
    margin-left: 15px;
}

.attendre {
    position: relative;
    font-size: smaller;
    z-index: 5;
    height: 15px;
    width: 0;
}

.header-notification {
    font-size: 16px;
    margin-top: 12px;
}

.header-notification a {
    font-weight: 600;
}

.img_page img {
    border: 4px solid #D9E021;
    margin: 25px 0 0 20px;
    float: right;
    max-width: 50%;
    height: auto;
    display: block;
}

/* eof custom classes */

/* bof navbar */

.navbarpref {
    background-color: transparent;
    padding-left: 30px;
    padding-top: 10px;
}

.navbarskew {
    background: #D9E021 linear-gradient(to right, #D9E021, #C7CF18);
    border: unset;
    transform: skewY(-2deg);
    height: 200px;
    top: -80px;
}

.navbar {
    background: #D9E021 linear-gradient(to right, #D9E021, #C7CF18);
    border: unset;
    left: 390px;
}

.navbar-brand {
    padding-top: 2px;
    padding-bottom: 2px;
}

.navbar-brand img#pref {
    margin-right: 30px;
}

@media all and (max-width: 768px) {
    .navbarskew {
        height: 150px;
    }
    .navbarpref {
        padding-left: 5px;
    }
    .navbar {
        left: 45px;
        padding-left: 0;
    }
    .navbar-brand img {
        height: 35px;
    }
    .navbarpref img {
        height: 50px;
    }
}

@media all and (max-width: 1100px) {
    .span-hide-profile {
        display: none;
    }
}

.navbar-inverse .navbar-nav > li > a {
    display: block;
    /*text-align: right;*/
    color: #FEFEFE;
    font-size: 1em;
    padding: 5px 20px;
    text-decoration: none;
}

@media all and (max-width: 1200px) {
    .navbar-inverse .navbar-nav > li > a {
        font-size: 0.80em;
    }
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #7d9100;
    padding: 12px;
    border-radius: .25rem;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #7d9100;
}
/* eof navbar */

/* bof overrides bootstrap */

.bg-primary, .badge-primary {
    background-color: #015A70!important;
    color: #ffffff;
}

.btn-primary, .btn-primary.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #7d9100;
    border-color: #7d9100;
}

.btn-primary:hover {
    color: #000;
    background-color: #D9E021;
    border-color: #D9E021;
}

.btn-primary:focus {
    color: #fff;
    background-color: #7d9100;
    border-color: #7d9100;
    box-shadow: 1px 1px black;
}

ul.error {
    padding-left: 0;
}

ul.error li {
    list-style: none;
    color: #cf1030;
}

.btn-break {
    white-space: normal;
}

.btn-action {
    float: right;
    min-width: 10em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.btn-fill {
    width: 100%;
}

.btn-half {
    width: 49%;
}

.card-heading {
    line-height: 1.5em;
}

.card-heading a.btn {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5em;
}

.card-body h5.card-title {
    color: #015A70;
}

.card-header.bg-danger {
    color: white;
}

.card-header div.progress {
    background-color: white;
    width: 160px;
    margin-top: 3px;
    line-height: unset;
}

.card-body div.progress {
    line-height: unset;
}

.alert>p, .alert>ul {
    margin-bottom: 0;
}

h1 .btn-sm {
    padding-bottom: 0;
    padding-top: 0;
    letter-spacing: 0;
}
/* passer la fenêtre datetimepicker au dessus du bandeau de nav (classe fixed-top à 1030) */
.bootstrap-datetimepicker-widget.dropdown-menu {
   z-index: 1050;
}

/* eof overrides bootstrap */


/* bof BS switch */

.checkbox label {
    padding-left: 0;
}

.bootstrap-switch {
    margin-right: 14px;
}

/* eof BS switch */

/* bof overrides Bootstrap 4 Ti-Ta-Toggle */
/* en lien avec templates/bootstrap4/field.html */

.checkbox-slider--a input:checked + span::after {
    content: "Oui";
    background-color: #9aa400;
    line-height: 18px;
}
.checkbox-slider--a input + span::after {
    content: "Non";
    line-height: 18px;
}
.checkbox-slider--a input + span::after, .checkbox-slider--a input + span::before {
    border-radius: .25rem;
}

/* eof overrides Bootstrap 4 Ti-Ta-Toggle */

/* bof footer */

.footer-div {
    background-color: #D9E021;
    bottom: 0;
    color: black;
    margin-top: 20px;
    padding: 0 55px;
    position: fixed;
    width: 100%;
    height: 85px;
}

@media all and (max-width: 768px) {
    .footer-div {
        position: relative;
    }
}

.footer-div a {
    color: black;
    font-weight: 600;
}

@media all and (max-width: 900px) {
    #footer-partenariat {
        display: none;
    }
}

#footer-info {
    color: black;
    font-size: 1em;
    line-height: 6em;
    padding: 4px;
    text-transform: uppercase;
}

@media all and (max-width: 1200px) {
    #footer-info {
        font-size: 0.85em;
    }
    .footer-div {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media all and (max-width: 992px) {
    #footer-info {
        font-size: 0.70em;
    }
}

@media all and (max-width: 768px) {
    #footer-info {
       line-height: unset;
    }
}

#footer-info a:hover {
    color: #D9401E;
}

.pipe_separator {
    margin: 0 10px;
}
/* eof footer */

/* bof Tooltip */
i[class^="ctx-help-"] {
    color: #9AA400;
    cursor: pointer;
    padding-left: 6px;
}

.tooltip-inner {
    color: #ffffff;
    background-color: #015A70;
    font-family: "Lato", "Open Sans", "Helvetica Neue";
    font-size: 0.85rem;
    text-align: left;
    max-width: 400px;
    white-space: normal;
    padding: 10px;
    line-height: 1.2;
    border: 1px solid #FFFFFF;
    box-shadow: 4px 4px 10px #626262;
}
.tooltip.in, .tooltip.show {
  opacity: 1;
}

.tooltip-inner a {
    color: #ffffff;
    text-decoration: underline;
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
    border-top-color: #303030; /* #015A70;*/
}
.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before, .tooltip.bs-tooltip-left .arrow::before {
    border-left-color: #303030; /* #015A70;*/
}
.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #303030; /* #015A70;*/
}
.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {
    border-right-color: #303030; /* #015A70;*/
}

/* eof Tooltip  */


/* bof #accordion */

div[id^="accordion"] i.fa-plus {
    color: #9aa400;
}

div[id^="accordion"] .panel {
    border: unset;
    background-color: unset;
    box-shadow: unset;
}
div[id^="accordion"] .panel-default > .card-header:hover {
    border: #959F00;
    background-color: unset;
}
div[id^="accordion"] .panel-group .panel {
    border-radius: 0;
}
div[id^="accordion"] .panel-default > .card-header {
    background-color: unset;
    border-color: unset;
}
div[id^="accordion"] .panel-title {
    font-size: 1.2rem;
    font-weight: 600;
}
div[id^="accordion"] .panel-default > .panel-header + .card-collapse > .panel-body {
    border-top: unset;
    border-left:  1px solid #9aa400;
}
div[id^="accordion"] .panel-header {
    padding: 5px;
}

div[id^="accordion"] .panel-body {
    padding: 6px 0 0 10px;
    margin-left: 39px;
    border-left: 1px dotted #9aa400;
}

div[id^="accordion"] .card {
    /*width: 100%;*/
    /*border: 1px solid #007bff;*/
    margin-bottom: 15px;
}

div[id^="accordion"] .card p {
    font-size: 14px;
}

div[id^="accordion"] .card-header {
    cursor: pointer;
}
div[id^="accordion"] .card-header:hover {
    background-color: #6c757d;
    color: #ffffff;
}


/* eof #accordion */

/* bof #histoaccordion */

div[id^="histoaccordion"] .card-body, div[id^="charteaccordion"] .card-body {
    padding: unset;
}

/* eof #histoaccordion */


/* bof tabs & nav-tabs */

.nav-tabs {
    padding: 4px 4px 0;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}

/* tabs tableau de bord */
.nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #015A70;
    border-color: transparent transparent #015A70;
}

/* tabs aide accordion */
.tab-list {
    margin-bottom: 8px;
}

.nav > li > a {
    padding: 6px 10px;
}

.nav .nav-item a {
    border-radius: .25rem .25rem 0 0;
    margin-right: .25rem;
    border-left: 1px solid #015A70;
    border-top: 1px solid #015A70;
    border-right: 1px solid #015A70;
}

.nav .nav-item:hover a {
    background-color: #7d9100;
    color: #ffffff;
}

.tab-content {
    padding-top: 6px;
}

#authorization.tab-pane, #declaration.tab-pane, #event.tab-pane, #additionaldata.tab-pane, #rnr.tab-pane, #natura2000.tab-pane, #charte.tab-pane {

    background: none;
    border: none;
}

.help-page .h1, .help-page h1 {
    margin: 6px 0;
    color: #fefefe;
    background-color: #015a70;
    padding: 6px;
    text-transform: uppercase;
    font-weight: 600;
}
.help-page .h2, .help-page h2 {
    margin: 6px 0;
    color: #015a70;
    background-color: #c1d8dd;
    padding: 6px;
}
.help-page .h3, .help-page h3 {
    font-weight: 600;
    color: #015a70;
    border-bottom: 1px solid #c1d8dd;
}

/* eof tabs & nav-tabs */

/* bof icone */

.badge.icone {
    font-size: 100%;
    margin: 2px 0;
    font-weight: 300;
}

.badge.icone.badge-light {
    border: 1px solid #cacaca;
}

.icone-small {
    font-size: 70%;
}

i {
    margin-right: 5px;
}
i.left-margin {
    margin-left: 5px;
}
i.no-right-margin {
    margin-right: 0;
}

span.label.label-success.top-right i.fa-check {
    margin-right: 2px;
}

.declaration.fa-layers .fa-layers-text, .autorisation.fa-layers .fa-layers-text {
    font-weight: bold;
    transform: translate(-2.00em);
    display: inline-block;
    font-size: 0.75em;
    margin-right: -1.3em;
}

/* eof icone */

/* bof #scrollToTop : retour haut de page */

#scrollToTop {
    position: fixed;
    right: 20px;
    bottom: 10px;
    cursor: pointer;
    display: none;
}

#scrollToTop a {
    font-size: 60px;
    color: white;
    outline: none;
}

#scrollToTop a:hover {
    text-decoration: none;
}

/* eof retour haut de page */


/* bof post-date (nouveauté) */

.post-date {
    background-color: #303030;
    color: white;
    float: left;
    margin-right: 1em;
    margin-bottom: 0.5em;
    width: 5.5em;
    line-height: 1.25em;
    border-radius: 0.5em;
    padding: 0.5em;
}

.post-date-day {
    display: block;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
}

.post-date-month {
    font-weight: normal;
    font-variant: small-caps;
    display: block;
    text-align: center;
}

.post-date-year {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    display: block;
}

/* eof post-date */

/* bof charte */

.bg-group1 {
    color: #76923C;
}

.bg-group2 {
    color: #E36C0A;
}

.bg-group3 {
    color: #548DD4;
}

.bg-group4 {
    color: #FD5ED8;
}

.bg-group5 {
    color: #943634;
}

.bg-bar-or {
    background-color: goldenrod;
}

.bg-bar-arg {
    background-color: #BFBFBF;
}

.bg-bar-bro {
    background-color: #C07949;
}

@media all and (max-width: 800px) {
    .card-header div.progress {
        width: 100%;
    }
}

/* eof accordion charte */

/* bof vignette */

div[id^="theme"] {
    border-bottom: 2px solid #015a70;
    border-right: 2px solid #015a70;
    border-bottom-right-radius: 15px;
    padding-right: 20px;
    padding-left: 80px;
    margin-bottom: 25px;
}

.vignette {
    font-size: 0.95rem;
    color: #ffffff;
    background-color: #015a70;
    border-radius: .5rem;
    margin-bottom: 20px;
    max-height: 90px;
    display: flex;
    flex-direction: row;
}

.vignette div:first-child {
    font-size: 1.5em;
    padding: 15px;
    margin-right: 20px;
    min-width: 205px;
    font-weight: bold;
    border-right: 2px solid #ffffff;
}

.vignette div:nth-child(2) {
    margin: auto 0;
}

@media all and (max-width: 576px){
    .vignette {
        flex-direction: column;
        max-height: unset;
    }
    .vignette div:first-child {
        border-right: unset;
    }
    .vignette div:nth-child(2) {
        padding: 0 10px 5px;
    }
    div[id^="theme"] {
        margin-left: unset;
    }
}

/* eof vignette */


/* bof todo : à trier */

.authorizations-requested .list-group-item {
    padding-right: 90px;
}

.fixed-table-body {
    background-color: white;
}

/* eof à trier */


/*
#authorization.card>.list-group, #declaration.card>.list-group, #event.card>.list-group, #additionaldata.card>.list-group, #authorization.card-default>.card-heading, #declaration.card-default>.card-heading, #event.card-default>.card-heading, #additionaldata.card-default>.card-heading {
    border: 1px solid #ddd;
}
*/

.special_fieldset legend {
    font-size: 1rem;
    border-bottom: none;
    text-decoration: underline;
}

.breadcrumb li {
    margin-right: 20px;
}


input[type="search"]  {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.bounce {
  animation: animationFramesBounce linear 2s infinite;
  transform-origin: 50% 50%;
}

@keyframes animationFramesBounce{
  0% {
    transform:  translate(0px,0px)  ;
  }
  15% {
    transform:  translate(-25px, 0px)  ;
  }
  30% {
    transform:  translate(0px,0px)  ;
  }
  45% {
    transform:  translate(-15px, 0px)  ;
  }
  60% {
    transform:  translate(0px,0px)  ;
  }
  75% {
    transform:  translate(-5px, 0px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}

.blink {
  animation: animationFramesBlink linear 2s infinite;
  transform-origin: 50% 50%;
}

@keyframes animationFramesBlink{
  0% {
    color: #FFFFFF ;
  }
  15% {
    color: #FFC107 ;
  }
  30% {
    color: #dc3545 ;
  }
  45% {
    color: #FFC107 ;
  }
  60% {
    color: #FFFFFF ;
  }
  75% {
    color: #FFC107 ;
  }
  100% {
    color: #FFFFFF ;
  }
}

/* bof css pour diplome v1 label width = 350px*/
/*.page_diplome {
    margin: auto;
    position: relative;
    width: 1200px;
}
.diplome_label {
    position: absolute;
    top: 390px;
    left: 440px;
}

.diplome_ecrit {
    position: absolute;
    padding-right: 100px;
    top: 600px;
    left: 75px;
}

.diplome_date {
    display: block;
    float: right;
}*/
/* bof css pour diplome v2 label width = 500px*/
.page_diplome {
    margin: auto;
    position: relative;
    width: 1200px;
}

.diplome_label {
    position: absolute;
    top: 240px;
    left: 370px;
}

.diplome_ecrit {
    position: absolute;
    padding-right: 100px;
    top: 550px;
    left: 75px;
}

.diplome_date {
    display: block;
    float: right;
}

@media all and (max-width: 1200px){
    .diplome_ecrit, .diplome_ecrit .h3, .diplome_ecrit .h1 {
        font-size: smaller;
    }
    .page_diplome img {
        width: 900px;
    }
    .page_diplome {
        width: 900px;
    }
    /* bof css pour diplome v1 label width = 350px*/
    /*
    .diplome_label img {
        width: 265px;
    }
    .diplome_label {
        top: 295px;
        left: 325px;
    }*/
    /* bof css pour diplome v2 label width = 500px*/
    .diplome_label img {
        width: 380px;
    }
    .diplome_label {
        top: 180px;
        left: 270px;
    }
    .diplome_ecrit {
        top: 410px;
    }
}

@media print {
    body {
        padding: 0;
    }
    .navbarskew, .navbar, .navbarpref {
        display: none!important;
    }
    .header-notification {
        display: none!important;
    }
    #scrollToTop, .footer-div {
        display: none!important;
    }
    .boutons {
        display: none!important;
    }
    #page-header {
        display: none!important;
    }
    @page {
        size: landscape;
    }
}
