/* bof homepage */

body {
    background-color: #ffffff;
}

@media all and (min-width: 1200px) {
    .container {
        max-width: 1725px;
    }
}

.bg-index {
    background-color: #f2f2f2;
}

.bg-index a:hover {
    text-decoration: none;
}

.bg-index a:hover h1 {
    font-weight: bolder;
}

.button-home {
    padding: 0 10px 0 40px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 15px;
    font-size: 0.8em;
}

@media all and (max-width: 1200px) and (min-width: 768px) {
    .button-home {
        font-size: 0.6em;
    }
    .cadre-couleur {
        font-size: smaller;
    }
}

.button-home a {
    color: #ffffff;
    background-color: #857865;
    border-radius: 0;
    padding: 0 20px 0 30px;
    margin-left: 10px;
    height: 140px;
    white-space: normal;
    font-size: 1.2em;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.button-home a:hover {
    background-color: #D9401E;
    color: white;
}

.button-home a h2 {
    font-size: 1.5em;
    text-transform: uppercase;
}

.button-home a i {
    background-color: #D9401E;
    border-radius: 28px;
    color: #ffffff;
    display: block;
    height: 56px;
    left: 27px;
    padding-top: 13px;
    position: absolute;
    width: 57px;
    font-size: 2.2em;
}

@media all and (max-width: 1200px) {
    .button-home a {
        height: 85px;
    }
}

.button-home a:hover i {
    background-color: #857865;
}

.button-home span {
    white-space: normal;
    margin-bottom: 10px;
}

.h1-home {
    font-style: initial;
    line-height: 1.6em;
    margin: 0;
    color: #D9401E;
    letter-spacing: 0;
}

.h2-home {
    color: #ffffff;
    font-style: normal;
}
h3.h1-home {
    margin-bottom: 10px;
}
#index1 a:hover h3.h1-home {
    font-weight: bold;
}

.cadre-couleur {
    border: 2px solid #D9401E;
    padding: 10px 10px;
    margin-bottom: 20px;
    width: 100%;
}
@media all and (max-width: 1200px) and (min-width: 768px) {
    .cadre-couleur {
        font-size: 0.8em;
    }
    .h1-home {
        font-size: 1em;
    }
}

.footer1 {
    position: fixed;
    bottom: 80px;
    width: 100%;
    height: 100px;
    transform: skewY(-2deg);
    z-index: 0;
}

.footer2 {
    position: fixed;
    bottom: 75px;
    width: 100%;
    height: 70px;
    font-size: 1.5em;
    font-style: italic;
    color: #D9401E;
    text-align: center;
    letter-spacing: 0em;
}

#carrousel {
    top: -20px;
    max-height: 260px;
    max-width: 2400px;
    text-align: center;
    text-transform: uppercase;
    transform: skewY(-2deg);
}

.carousel-indicators {
    bottom: 0;
}

.carousel-inner > .carousel-item > img {
    max-width: 100%;
}

.carousel-caption {
    top: 30px;
    float: left;
    transform: skewY(2deg);
}

.carousel-caption-text {
    background-color: #D9401E;
    opacity: 0.80;
    font-weight: 600;
    padding: 5px;
}

@media all and (max-width: 1300px) {
    .carousel-caption {
        top: 0;
    }
    .carousel-caption-text {
        font-weight: 200;
        font-size: smaller;
        padding: 2px;
    }
}

@media all and (max-width: 900px) {
    .carousel-caption-text {
        display: none;
    }
    .carousel-indicators {
        display: none;
    }
}

@media all and (max-width: 768px) {
    #carrousel {
        top: 20px;
    }
}

/* eof homepage */
