{% load i18n %}

<div id="histoaccordion">
    <div class="card bg-light">
        <div class="card-header" id="headinghisto1">
            <div class="clickligne" data-toggle="collapse" data-target="#collapsehisto1" aria-expanded="false" aria-controls="collapsehisto1">
                <strong>
                    <i class="action"></i> Actions {% if user.instructeur %} Instructeur {% endif %} <i class="ctx-help-actions_notifications_list fas fa-info-circle"></i>
                </strong>
            </div>
        </div>
        <div id="collapsehisto1" class="collapse" aria-labelledby="headinghisto1"
             data-parent="#histoaccordion">
            <div class="card-body">
                <table class="table table-sm table-striped" data-toggle="table" id="action-table">
                    <thead>
                        <tr>
                            <th data-field="date" data-sortable="true" data-sorter="dateSorter">Date</th>
                            <th data-sortable="true">Service / structure</th>
                            <th data-sortable="true">Agent / utilisateur</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for action in object.actions.all.last_first %}
                            <tr>
                                <td>{{ action.creation_date.date|date:"d/m/Y" }}</td>
                                <td>{{ action.user.get_service|default_if_none:"DDCS" }}</td>
                                <td>{{ action.user.get_full_name }}</td>
                                <td>{{ action.action }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4" class="text-center">Aucune action sur les dossiers en cours</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-header" id="headinghisto2">
            <div class="clickligne" data-toggle="collapse" data-target="#collapsehisto2" aria-expanded="false" aria-controls="collapsehisto2">
                <strong>
                    <i class="historique"></i> Notifications <i class="ctx-help-actions_notifications_list fas fa-info-circle"></i>
                </strong>
            </div>
        </div>
        <div id="collapsehisto2" class="collapse" aria-labelledby="headinghisto2"
             data-parent="#histoaccordion">
            <div class="card-body">
                <table class="table table-sm table-striped" data-toggle="table" id="notification-table">
                    <thead>
                        <tr>
                            <th data-field="date" data-sortable="true" data-sorter="dateSorter">Date</th>
                            <th data-sortable="true">Service émetteur</th>
                            <th data-sortable="true">Utilisateur destinataire</th>
                            <th data-sortable="true">Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for notification in object.notifications.all.last_first %}
                            <tr>
                                <td>{{ notification.creation_date.date|date:"d/m/Y" }}</td>
                                <td>{% if notification.content_object.referent %}DDCS{% else %}{{ notification.content_object|default_if_none:"--" }}{% endif %}</td>
                                <td>{{ notification.user.get_full_name }} - {{ notification.user.get_service|default_if_none:"DDCS" }}</td>
                                <td>{{ notification.subject|safe }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4" class="text-center">Aucune action sur les dossiers en cours</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
